

<app-header></app-header>
<div class="jumbotron" style="padding-bottom: 15px;padding-top: 15px;">
  <div class="container text-center">
    <button routerLink="/productDetails" type="button" class="btn btn-primary button btn-sm"><i class="fa fa-table"></i>&nbsp;Product Selection Chart</button>
    <button routerLink="/priceDetails" type="button" class="btn btn-success button1 btn-sm" style="margin-left: 20px;"> <i class="fa fa-rupee"></i>&nbsp;Product Price </button>
    <button routerLink="/praposal-format" type="button" class="btn btn-info button1 btn-sm" style="margin-left: 20px;" > &nbsp;Proposal Format </button>
    <button type="button" class="btn btn-warning button1 btn-sm" style="margin-left: 20px;" disabled data-toggle="tooltip" title="Under Progress">MSDS </button>
    <!-- <button (click)="onLogout()" type="button" class="btn btn-primary button btn-sm btn-dark" style="float: right;border-radius: 50px 50px 50px 50px; padding: 5px 20px;margin-right: -80px; "><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;&nbsp;Logout</button> -->
  </div>
</div>


<!-- ADD FOOTER -->
<app-footer></app-footer>





<!-- <router-outlet></router-outlet> -->
