<div class="row">
  <div class="col-md-12 col-sm-12">
<h4 class="text-center"><b>Customer Details</b></h4>
</div>
</div>

<div class="row" style="margin: auto;
width: 95%;
border: 3px solid #73AD21;
padding: 10px;">
  <div class="col-6 col-sm-6 col-xs-12">
  <div class="card" >
      <div class="card-body" >
  <div id="personal-details" [formGroup]="regForm">
    <div class="form-group col-md-12 col-sm-12 example-form" formGroupName="CustomerDetails">
        <div class="col-md-5 col-sm-5"><label>Company Name <span style="color:red;"> * </span> : </label></div>
        <div class="col-md-7 col-sm-7">
          <input type="text" class="form-control" formControlName="CompanyName" placeholder="This field can not be empty" style="font-size: 10px;">
         <!-- <div class="containers"></div> -->
        </div>
    </div>
    <div class="form-group col-md-12 col-sm-12" formGroupName="CustomerDetails">
      <div class="col-md-5 col-sm-5"><label>City Name <span style="color:red;"> * </span> : </label></div>
      <div class="col-md-7 col-sm-7">
      <input type="text" class="form-control" formControlName="CityName"  placeholder="This field can not be empty" style="font-size: 10px;">
    </div>
    </div>

    <div class="form-group col-md-12 col-sm-12" formGroupName="CustomerDetails">
        <div class="col-md-5 col-sm-5"><label>Address <span style="color:red;"> * </span>:</label></div>
        <div class="col-md-7 col-sm-7">
        <textarea class="form-control" rows="4" formControlName="Address" placeholder="This field can not be empty" style="font-size: 10px; text-align:center;"></textarea>
      </div>
      </div>

      <div class="form-group col-md-12 col-sm-12" formGroupName="CustomerDetails">
          <div class="col-md-5 col-sm-5"><label>Pincode :</label></div>
          <div class="col-md-7 col-sm-7">
          <input type="text" class="form-control" formControlName="Pincode">
        </div>
        </div>

        <div class="form-group col-md-12 col-sm-12" formGroupName="CustomerDetails">
            <div class="col-md-5 col-sm-5"><label>Dealer Code : </label></div>
            <div class="col-md-7 col-sm-7">
            <input type="text" class="form-control" formControlName="DealerCode">
          </div>
          </div>

          <div class="form-group col-md-12 col-sm-12" formGroupName="CustomerDetails">
              <div class="col-md-5 col-sm-5"><label>Type of Industry <span style="color:red;"> * </span> :</label></div>
              <div class="col-md-7 col-sm-7">
                  <select class="form-control" formControlName="IndusrtyType" style="width: 96%;" >
                    <option>small</option>
                    <option>medium</option>
                    <option>large</option>
                  </select> 
            </div>
            </div>

            <div class="form-group col-md-12 col-sm-12" formGroupName="CustomerDetails">
                <div class="col-md-5 col-sm-5"><label>Any Other Customer <br>Info :</label></div>
                <div class="col-md-7 col-sm-7">
                <input type="text" class="form-control" formControlName="CustOtherInfo">
              </div>
              </div>

              <div class="form-group col-md-12 col-sm-12" formGroupName="CustomerDetails">
                  <div class="col-md-5 col-sm-5"><label>GST No <span style="color:red;"> * </span> :</label></div>
                  <div class="col-md-7 col-sm-7">
                  <input type="text" class="form-control" formControlName="GSTno" placeholder="This field can not be empty" style="font-size: 10px;">
                </div>
                </div>

                <div class="form-group col-md-12 col-sm-12" formGroupName="CustomerDetails">
                    <div class="col-md-5 col-sm-5"><label>Contact Person Name <span style="color:red;"> * </span> :</label></div>
                    <div class="col-md-7 col-sm-7">
                    <input type="text" class="form-control" formControlName="ContactPersonName" placeholder="This field can not be empty" style="font-size: 10px;">
                  </div>
                  </div>

                  <div class="form-group col-md-12 col-sm-12" formGroupName="CustomerDetails">
                      <div class="col-md-5 col-sm-5"> <label> Designation : </label></div>
                     <div class="col-md-7 col-sm-7">
                      <input type="text" class="form-control" formControlName="Designation">
                    </div>
                    </div>
          
            </div>
  </div><!--End of Card Body-->
  </div><!--End of card-->
  </div><!--End of First Col-->
  
  <div class="col-6 col-sm-6">
  <div class="card">
      <div class="card-body" >
  <div id="personal-details" [formGroup]="regForm">

        <div class="form-group col-md-12 col-sm-12 col-xs-12" formGroupName="CustomerDetails">
            <div class="col-md-5 col-sm-5"> <label>Email - 1 <span style="color:red;"> * </span> :</label></div>
           <div class="col-md-7 col-sm-7">
            <input type="text" class="form-control" formControlName="FisrtEmail" placeholder="This field can not be empty" style="font-size: 10px;">
          </div>
          </div>

          <div class="form-group col-md-12 col-sm-12" formGroupName="CustomerDetails">
              <div class="col-md-5 col-sm-5"> <label>Email - 2 : </label></div>
             <div class="col-md-7 col-sm-7">
              <input type="text" class="form-control" formControlName="SecondEmail">
            </div>
            </div>

            <div class="form-group col-md-12 col-sm-12" formGroupName="CustomerDetails">
                <div class="col-md-5 col-sm-5"> <label>Office No <span style="color:red;"> * </span> :</label></div>
               <div class="col-md-7 col-sm-7">
                <input type="text" class="form-control" formControlName="OfficeNumber" placeholder="This field can not be empty" style="font-size: 10px;">
              </div>
              </div>

              <div class="form-group col-md-12 col-sm-12" formGroupName="CustomerDetails">
                  <div class="col-md-5 col-sm-5"> <label>Mobile Number <span style="color:red;"> * </span> : </label></div>
                 <div class="col-md-7 col-sm-7">
                  <input type="text" class="form-control" formControlName="MobileNumber" placeholder="This field can not be empty" style="font-size: 10px;">
                </div>
                </div>

                <div class="form-group col-md-12 col-sm-12" formGroupName="CustomerDetails">
                    <div class="col-md-5 col-sm-5"> <label>Add More Contacts : </label></div>
                   <div class="col-md-7 col-sm-7">
                   
                    <!-- <mat-radio-group aria-label="Select an option"  formControlName="MoreContacts" >
                        <mat-radio-button mat-raised-button color="primary" value="1">Option 1</mat-radio-button>
                        <mat-radio-button mat-raised-button color="primary" value="2">Option 2</mat-radio-button>
                      </mat-radio-group> -->
                      <select [(ngModel)]="chosenValue" class="form-control" formControlName="MoreContacts" style="width: 96%;">
                      <!-- <select id="me" [(ngModel)]="chosenValue" formControlName="MoreContacts" class="ui fluid search selection dropdown">  -->
                          <option value = "YES">Yes</option>
                          <option value="NO">No</option>
                      </select>
                  </div>
                  </div>

                  <div class="form-group col-md-12 col-sm-12" formGroupName="MoreContacts">
                    <div class="col-md-5 col-sm-5"></div>
                    <div class="col-md-7 col-sm-7" *ngIf="chosenValue==='YES'">
                            <input type="text" class="form-control" formControlName="MoreContacts" placeholder="Please Enter Contact Number" style="font-size: 10px;">
                            <input type="text" class="form-control" formControlName="MoreContacts" placeholder="Please Enter Contact Number" style="font-size: 10px;">
                          </div>
                  </div>

                  <div class="form-group col-md-12 col-sm-12" formGroupName="CustomerDetails">
                      <div class="col-md-5 col-sm-5"> <label>Product Potential  of this Customer : </label></div>
                     <div class="col-md-7 col-sm-7">
                      <input type="text" class="form-control" formControlName="CustProdctPotential">
                    </div>
                    </div>

                    <div class="form-group col-md-12 col-sm-12" formGroupName="CustomerDetails">
                        <div class="col-md-5 col-sm-5"> <label>Product Choose for Praposal : </label></div>
                       <div class="col-md-7 col-sm-7">
                          <select class="form-control" formControlName="ChooseProductPraposal" style="width: 96%;">
                              <option>Benz</option>
                              <option>Xyz</option>
                              <option>Pqr</option>
                          </select> 
                       </div>
                      </div>

                      <div class="form-group col-md-12 col-sm-12" formGroupName="CustomerDetails">
                          <div class="col-md-5 col-sm-5"> <label>Nature of Enquiry : </label></div>
                         <div class="col-md-7 col-sm-7">
                            <select class="form-control" formControlName="EnquireyNature" style="width: 96%;">
                                <option>Hot</option>
                                <option>Cold</option>
                                <option>Warm</option>
                            </select> 
                        </div>
                        </div>
 
                        <!-- <div class="form-group col-md-12 col-sm-12" formGroupName="CustomerDetails">
                        <div class="col-md-5 col-sm-5"><label>Number of Tower with This Customer : </label></div>
                        <div class="col-md-7 col-sm-7">
                            <!-- <select class="form-control" formControlName="NumOfTower" style="width: 96%;">
                                <option *ngFor="let tower of Towers">{{tower}}</option>
                                </select>  -->
                                <!-- <select class="slct" class="form-control" formControlName="NumOfTower" style="width: 96%;">
                                    <option value="0"> 0 </option>
                                   <option value="1"> 1 </option>
                                     <option value="2"> 2 </option>
                                   <option value="3"> 3 </option>
                                   <option value="4"> 4 </option>
                                   <option value="5"> 5 </option>
                                   <option value="6"> 6 </option>
                                    </select>
                                   <div id="containers"></div>
                        </div> -->

                        
                      <!-- </div> -->
  </div>
  <!-- <button mat-raised-button color="primary" type="button" matStepperNext (click)="step1Submitted()" >Next</button> -->
  </div>
  </div>
  
  </div><!--End of Second Col-->
  <p style="margin-left: 43%;">Note : All<span style="color: red;"> * </span> fields are mandatory</p>
  </div><!--End Of Row-->


  <button type="button" class="btn btn-primary center-block" matStepperNext (click)="step1Submitted()" style=" width: 120px;margin: 62px auto;">Next</button>

    <!-- TRIAL CODE -->
  <!-- <div>
      <h2>Show Hidden{{name}}</h2>
      <label>Choose</label>
      <select id="me" [(ngModel)]="chosenValue" class="ui fluid search selection dropdown"> 
                  <option value=""></option>
                  <option value = "YES">Yes</option>
                  <option value="NO">No</option>
      </select>
    </div>
    <br><br> -->
    
      <!-- <div *ngIf="chosenValue==='YES'" class="row" id="informationDiv">
                <div class="col-md-3 form-group">
                  <label class="control-label">showing</label>
                  <input class="form-control" id="productName">
                </div>
      </div>
      <hr>-->
      <!-- <div>
        
          <h2>Show Hidden{{name}}</h2>
          <label>Choose</label>
          <select id="me" [(ngModel)]="chosenValue" class="ui fluid search selection dropdown"> 
                      <option value=""></option>
                      <option value = "YES">Yes</option>
                      <option value="NO">No</option>
          </select>
        </div>
        <br><br>
          <div *ngIf="chosenValue==='YES'" class="row" id="informationDiv">
                    <div class="col-md-3 form-group">
                      <label class="control-label">showing</label>
                      <input class="form-control" id="productName">
                    </div>
          </div> -->
  
  
          <hr>
          <p>kjbkjbkbbkkbjbkkjjk</p>
          <form #CustomerDetailsForm="ngForm" (ngSubmit)="onSubmit(CustomerDetailsForm)">
            <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="_CustomerDetailsService.selectedCustomerDetail._id">
           <!-- <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="_CustomerDetailsService.selectedCustomerDetail._id">  -->
           
             <div class="row">
           
               <div class="input-field col s5"> 
                  <label style="line-height:30px">Company Name :</label>
               </div>
           
               <div class="input-field col s7">
                <input type="text" name="CompanyName" #name="ngModel" [(ngModel)]="_CustomerDetailsService.selectedCustomerDetail.CompanyName" required placeholder="Company Name" style="height:30px; width: 300px;">
               </div>
           
              </div>
           
              <div class="row">
           
               <div class="input-field col s5"> 
                   <label style="line-height:30px">City Name :</label>
               </div>
            
               <div class="input-field col s7">
                 <input type="text" name="CityName" #name="ngModel" [(ngModel)]="_CustomerDetailsService.selectedCustomerDetail.CityName" required placeholder="City Name" style="height:30px; width: 300px;">
               </div>
            
               </div>
           
               <div class="row">
           
                <div class="input-field col s5"> 
                     <label style="line-height:30px">Address :</label>
                </div>
              
                <div class="input-field col s7">
                   <input type="text" name="Address" #name="ngModel" [(ngModel)]="_CustomerDetailsService.selectedCustomerDetail.Address" required placeholder="Address" style="height:30px; width: 300px;">
                </div>
              
                 </div>
           
                 <div class="row">
           
                   <div class="input-field col s5"> 
                       <label style="line-height:30px">PinCode :</label>
                   </div>
                
                   <div class="input-field col s7">
                     <input type="text" name="Pincode" #name="ngModel" [(ngModel)]="_CustomerDetailsService.selectedCustomerDetail.Pincode" placeholder="PinCode" style="height:30px; width: 300px;">
                   </div>
                
                   </div>
           
                   <div class="row">
           
                     <div class="input-field col s5"> 
                         <label style="line-height:30px">Dealer Code :</label>
                     </div>
                  
                     <div class="input-field col s7">
                       <input type="text" name="DealerCode" #name="ngModel" [(ngModel)]="_CustomerDetailsService.selectedCustomerDetail.DealerCode" placeholder="Dealer Code" style="height:30px; width: 300px;">
                     </div>
                  
                     </div>
           
                     <div class="row">
           
                       <div class="input-field col s5"> 
                           <label style="line-height:30px">Type of Indusrty :</label>
                       </div>
                    
                       <div class="input-field col s7">
                         <input type="text" name="IndusrtyType" #name="ngModel" [(ngModel)]="_CustomerDetailsService.selectedCustomerDetail.IndusrtyType" placeholder="IndusrtyType" style="height:30px; width: 300px;">
                         <!-- <select name="IndusrtyType" #name="ngModel" [(ngModel)]="_CustomerDetailsService.selectedCustomerDetail.IndusrtyType">
                             <option value="IT">IT</option>
                             <option value="Healthcare">Healthcare</option>
                             <option value="Accounting">Accounting</option>
                             <option value="Education">Education</option>
                           </select> -->
                       </div>
                    
                       </div>
           
                     <div class="row">
           
                       <div class="input-field col s5"> 
                             <label style="line-height:30px">Any Other Customer Information :</label>
                       </div>
                      
                       <div class="input-field col s7">
                           <input type="text" name="CustOtherInfo" #name="ngModel" [(ngModel)]="_CustomerDetailsService.selectedCustomerDetail.CustOtherInfo" placeholder="Any Othe Customer Info" style="height:75px; width: 300px;">
                       </div>
                      
                     </div>
           
                     <div class="row">
           
                       <div class="input-field col s5"> 
                               <label style="line-height:30px">GST Number :</label>
                       </div>
                        
                       <div class="input-field col s7">
                             <input type="text" name="GSTno" #name="ngModel" [(ngModel)]="_CustomerDetailsService.selectedCustomerDetail.GSTno" required placeholder="GST Number" style="height:30px; width: 300px;">
                       </div>
                        
                     </div>
           
                     <div class="row">
           
                       <div class="input-field col s5"> 
                                 <label style="line-height:30px">Contact Person Name :</label>
                       </div>
                          
                       <div class="input-field col s7">
                               <input type="text" name="ContactPersonName" #name="ngModel" [(ngModel)]="_CustomerDetailsService.selectedCustomerDetail.ContactPersonName" required placeholder="Contact Person Name" style="height:40px; width: 300px;">
                       </div>
                          
                      </div>
           
                       <div class="row">
           
                         <div class="input-field col s5"> 
                            <label style="line-height:30px">Designation :</label>          
                         </div>
                            
                         <div class="input-field col s7">
                           <input type="text" name="Designation" #name="ngModel" [(ngModel)]="_CustomerDetailsService.selectedCustomerDetail.Designation" placeholder="Designation" style="height:30px; width: 300px;">
                         </div>
                            
                        </div>
           
                       <div class="row">
           
                         <div class="input-field col s5"> 
                             <label style="line-height:30px">Email - 1 :</label>
                         </div>
                              
                         <div class="input-field col s7">
                           <input type="text" name="FisrtEmail" #name="ngModel" [(ngModel)]="_CustomerDetailsService.selectedCustomerDetail.FisrtEmail" required placeholder="Email - 1" style="height:30px; width: 300px;">
                         </div>
                              
                       </div>
           
                       <div class="row">
           
                         <div class="input-field col s5"> 
                             <label style="line-height:30px">Email - 2  :</label>
                         </div>
                                
                         <div class="input-field col s7">
                           <input type="text" name="SecondEmail" #name="ngModel" [(ngModel)]="_CustomerDetailsService.selectedCustomerDetail.SecondEmail" placeholder="Email - 2" style="height:30px; width: 300px;">
                         </div>
                                
                         </div>
           
                         <div class="row">
           
                           <div class="input-field col s5"> 
                             <label style="line-height:30px">Office Number :</label>
                           </div>
                                  
                           <div class="input-field col s7">
                             <input type="text" name="OfficeNumber" #name="ngModel" [(ngModel)]="_CustomerDetailsService.selectedCustomerDetail.OfficeNumber" required placeholder="Office Number" style="height:30px; width: 300px;">
                           </div>
                                  
                         </div>
           
                         <div class="row">
           
                           <div class="input-field col s5"> 
                             <label style="line-height:30px">Mobile Number:</label>
                           </div>
                                    
                          <div class="input-field col s7">
                             <input type="text" name="MobileNumber" #name="ngModel" [(ngModel)]="_CustomerDetailsService.selectedCustomerDetail.MobileNumber" required placeholder="Mobile Number" style="height:30px; width: 300px;">
                           </div>
                                    
                         </div>
           
                         <div class="row">
           
                           <div class="input-field col s5"> 
                             <label style="line-height:30px">Add More Contacts :</label>
                           </div>
                                      
                           <div class="input-field col s7">
                             <input type="text" name="MoreContacts" #name="ngModel" [(ngModel)]="_CustomerDetailsService.selectedCustomerDetail.MoreContacts" placeholder="More Contacts" style="height:43px; width: 300px;">
                             <!-- <input type="radio"  name="MoreContacts" #name="ngModel" [(ngModel)]="_CustomerDetailsService.selectedCustomerDetail.MoreContacts" value="Yes" >Yes &nbsp;&nbsp;
                             <input type="radio"  name="MoreContacts" #name="ngModel" [(ngModel)]="_CustomerDetailsService.selectedCustomerDetail.MoreContacts"  value="No" checked>No<br> -->
                           </div>
                                      
                         </div>
           
                         <div class="row">
           
                           <div class="input-field col s5"> 
                             <label style="line-height:30px">Product Potential of This Customer :</label>
                           </div>
                                        
                           <div class="input-field col s7">
                             <input type="text" name="CustProdctPotential" #name="ngModel" [(ngModel)]="_CustomerDetailsService.selectedCustomerDetail.CustProdctPotential" placeholder="Product Potential of This Customer " style="height:50px; width: 300px;">
                             <!-- <select name="CustProdctPotential" #name="ngModel" [(ngModel)]="_CustomerDetailsService.selectedCustomerDetail.CustProdctPotential">
                                 <option value="aa">aa</option>
                                 <option value="bb">bb</option>
                                 <option value="cc">cc</option>
                                 <option value="dd">dd</option>
                               </select> -->
                           </div>
                                        
                         </div>
           
                         <div class="row">
           
                           <div class="input-field col s5"> 
                             <label style="line-height:30px">Product Choose for Praposal :</label>
                           </div>
                                          
                           <div class="input-field col s7">
                           <input type="text" name="ChooseProductPraposal" #name="ngModel" [(ngModel)]="_CustomerDetailsService.selectedCustomerDetail.ChooseProductPraposal" placeholder="Product Choose for Praposal" style="height:50px; width: 300px;">
                           </div>
                                          
                         </div>
           
                         <div class="row">
           
                           <div class="input-field col s5"> 
                             <label style="line-height:30px">Nature of Enquirey:</label>
                           </div>
                                          
                           <div class="input-field col s7">
                           <input type="text" name="EnquireyNature" #name="ngModel" [(ngModel)]="_CustomerDetailsService.selectedCustomerDetail.EnquireyNature" placeholder="Nature of Enquirey" style="height:50px; width: 300px;">
                           <!-- <select name="EnquireyNature" #name="ngModel" [(ngModel)]="_CustomerDetailsService.selectedCustomerDetail.EnquireyNature">
                               <option value="hot">hot</option>
                               <option value="cold">cold</option>
                               <option value="warm">warm</option>
                             </select>    -->
                         </div>
                                          
                         </div>
              
              <div class="row">
           
                <div class="input-field col s12 ">
                  
                  <button class="btn btn-success mybtn" type="submit" [disabled]="!CustomerDetailsForm.valid">Submit</button>&nbsp;&nbsp;&nbsp;
                  <button class="btn btn-warning mybtn" type="button" (click)="resetCustomerDetailsForm(CustomerDetailsForm);">Cancel</button>&nbsp;&nbsp;&nbsp;
                  <button class="btn btn-info mybtn"  (click)="pageRefresh();">Edit</button>&nbsp;&nbsp;&nbsp;
                  <button class="btn btn-secondary mybtn"  (click)="pageRefresh();">Next</button>&nbsp;&nbsp;&nbsp;
                  <button type="button mybtn" class="btn btn-danger" data-dismiss="modal" style="margin-top: 10px;">Close</button>
                </div>
           
              </div>
           
            </form>
           