
<div *ngIf="formSubmitted">
  <h4>Details submitted successfully</h4>
</div>
<div *ngIf="!formSubmitted">
  <h4>Following details submitted, please confirm and hit submit</h4>
  <br/>Company Name: {{regForm.get('CustomerDetails').get('CompanyName').value}} 
  <br/>City Name:{{regForm.get('CustomerDetails').get('CityName').value}}
  <br/>Address:{{regForm.get('CustomerDetails').get('Address').value}} 
  <br/>Pincode:{{regForm.get('CustomerDetails').get('Pincode').value}}
  <br/>Dealer Code:{{regForm.get('CustomerDetails').get('DealerCode').value}} 
  <br/>Indusrty Type:{{regForm.get('CustomerDetails').get('IndusrtyType').value}}
  <br/>Cust Other Info:{{regForm.get('CustomerDetails').get('CustOtherInfo').value}} 
  <br/>GST No:{{regForm.get('CustomerDetails').get('GSTno').value}}
  <br/>Contact Person Name:{{regForm.get('CustomerDetails').get('ContactPersonName').value}} 
  <br/>Designation:{{regForm.get('CustomerDetails').get('Designation').value}}
  <br/>Fisrt Email:{{regForm.get('CustomerDetails').get('FisrtEmail').value}} 
  <br/>Second Email:{{regForm.get('CustomerDetails').get('SecondEmail').value}}
  <br/>Office Number:{{regForm.get('CustomerDetails').get('OfficeNumber').value}} 
  <br/>Mobile Number:{{regForm.get('CustomerDetails').get('MobileNumber').value}}
  <br/>More Contacts:{{regForm.get('CustomerDetails').get('MoreContacts').value}} 
  <br/>Cust Prodct Potential:{{regForm.get('CustomerDetails').get('CustProdctPotential').value}}
  <br/>Choose Product Praposal:{{regForm.get('CustomerDetails').get('ChooseProductPraposal').value}} 
  <br/>Enquirey Nature:{{regForm.get('CustomerDetails').get('EnquireyNature').value}}

  <br/>Email : {{regForm.get('TowerDetails').get('NumOfTower').value}}
  <br/>Phone :{{regForm.get('TowerDetails').get('NameOfTower').value}}
  <br/>
  
  <button type="button" matStepperPrevious>Back</button>
  &nbsp;
  <button type="button" (click)="submit()">Submit</button>
</div>