
<div class="row" style="margin: auto;
width: 95%;
border: 3px solid #73AD21;
padding: 10px;">
  <div class="col-12">
  <div class="card" >
      <div class="card-body">
     <table class="table-bordered" id="dataTable" width="100%" cellspacing="0" >
         <!-- id="mydatatable" -->
         <thead>
           <tr>
             <th colspan="4"><h4>Present Treatment Details</h4></th>
           </tr>
           <tr>
             <th colspan="2" style="text-align: right;">
                <h4>Supplier Name </h4></th>
                <th colspan="2" style="text-align: left;">
                <input type="textbox" style="color:black;">
             </th>
             </tr>

             <tr>
                <th style="width:25%;">Product Name</th>
                <th style="width:25%;">Dose</th>
                <th style="width:25%;">Unit</th>
                <th style="width:25%;">Price Rs/kg</th>
                </tr>
         </thead><!--End of table head-->

         <tbody>
           <tr><td>Benz</td>
            <td>100</td>
            <td>PPM</td>
            <td>150</td>
          </tr>
          <tr><td>Benz</td>
            <td>100</td>
            <td>PPM</td>
            <td>150</td>
          </tr>
           </tbody>
           </table>
           </div><!--End of the card body-->
           </div><!--End of the card-->
           </div><!--End of The column-->
 <div class="col-md-12">
              <div class="row pagination-centered"  style="padding-left: 450px; margin-bottom: 3px;margin-top: 10px;">
                <!-- <button type="button" class="btn btn-primary" style="margin-left: 2px">Submit</button>&nbsp;&nbsp; -->
                <button type="button" class="btn btn-primary" matStepperPrevious>Back</button>&nbsp;&nbsp;
                <button type="button" class="btn btn-primary" >Edit</button>&nbsp;&nbsp;
                <button type="button" class="btn btn-primary" matStepperNext (click)="step10Submitted()" >Next</button>
            <!-- <button mat-raised-button color="primary" type="button" matStepperNext (click)="step1Submitted()" >Next</button> -->
            </div>
            </div>

           </div><!--End of the Row-->

          