
<head>
  <title>Pennar Sales Engineer Dashboard</title>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
 
 
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    } 
  </style>
</head>


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand"><b style="font-size: 25px; color: cornsilk;">Pennar Sales Engineer Dashboard </b></a>
    </div>
    
  </div>
</nav>

<div class="jumbotron" style="padding-bottom: 15px;padding-top: 15px;">
  <div class="container text-center">
    <!-- <button routerLink="/productDetails" type="button" class="btn btn-primary button btn-sm"><i class="fa fa-plus"></i>&nbsp;Add New Customer</button> -->
    <button type="button" class="btn btn-primary" id="addCustBtn" data-toggle="modal" data-target="#AddNewCustomerModel"style="margin-top: 5px;" >
      <i class="fa fa-plus"></i>&nbsp; Add New Customer 
    </button> &nbsp;&nbsp;&nbsp;&nbsp;
    <button (click)="onLogout()" type="button" class="btn btn-primary button btn-sm btn-dark" style="float: right;border-radius: 50px 50px 50px 50px; padding: 5px 20px;margin-right: -80px; "><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;&nbsp;Logout</button>
  </div>
</div>

<!-- CUSTOMER DETAILS POP UP MODEL -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- <button type="button" class="btn btn-primary" id="addCustBtn" data-toggle="modal" data-target="#AddNewCustomerModel"style="margin-top: 5px;" >
          Add New Customer 
        </button> &nbsp;&nbsp;&nbsp;&nbsp; -->
    
        <!-- The Modal -->
    <div class="modal" id="AddNewCustomerModel"  >
    <div class="modal-dialog  model-lg">
    <div class="modal-content">
    
    <!-- Modal Header -->
    <div class="modal-header">
    <h4 class="modal-title" >Customer Details</h4>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    
    <!-- Modal body -->
    <div class="modal-body" >
    <form #CustomerDetailsForm="ngForm" (ngSubmit)="onCustomerInfoSubmit(CustomerDetailsForm)">
     <!-- <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="_CustService.selectedCustomerDetail._id">  -->
      <div class="row">
    
        <div class="input-field col s5"> 
           <label style="line-height:30px">Company Name :</label>
        </div>
    
        <div class="input-field col s7">
          <input type="text" name="CompanyName" #name="ngModel" [(ngModel)]="_CustService.selectedCustomerDetails.CompanyName">
        </div>
    
       </div>
    
       <div class="row">
    
        <div class="input-field col s5"> 
            <label>City Name :</label>
        </div>
     
        <div class="input-field col s7">
          <input type="text" name="CityName" #name="ngModel" [(ngModel)]="_CustService.selectedCustomerDetails.CityName">
        </div>
     
        </div>
    
        <div class="row">
    
         <div class="input-field col s5"> 
              <label style="line-height:30px">Address :</label>
         </div>
       
         <div class="input-field col s7">
            <input type="text" name="Address" #name="ngModel" [(ngModel)]="_CustService.selectedCustomerDetails.Address">
         </div>
       
          </div>
    
          <div class="row">
    
            <div class="input-field col s5"> 
                <label style="line-height:30px">PinCode :</label>
            </div>
         
            <div class="input-field col s7">
              <input type="text" name="Pincode" #name="ngModel" [(ngModel)]="_CustService.selectedCustomerDetails.Pincode">
            </div>
         
            </div>
    
            <div class="row">
    
              <div class="input-field col s5"> 
                  <label style="line-height:30px">Dealer Code :</label>
              </div>
           
              <div class="input-field col s7">
                <input type="text" name="DealerCode" #name="ngModel" [(ngModel)]="_CustService.selectedCustomerDetails.DealerCode">
              </div>
           
              </div>
    
              <div class="row">
    
                <div class="input-field col s5"> 
                    <label style="line-height:30px">Type of Indusrty :</label>
                </div>
             
                <div class="input-field col s7">
                  <input type="text" name="IndusrtyType" #name="ngModel" [(ngModel)]="_CustService.selectedCustomerDetails.IndusrtyType">
                  <!-- <select name="IndusrtyType" #name="ngModel" [(ngModel)]="_CustomerDetailsService.selectedCustomerDetail.IndusrtyType">
                      <option value="IT">IT</option>
                      <option value="Healthcare">Healthcare</option>
                      <option value="Accounting">Accounting</option>
                      <option value="Education">Education</option>
                    </select> -->
                </div>
             
                </div>
    
              <div class="row">
    
                <div class="input-field col s5"> 
                      <label style="line-height:30px">Any Other Customer Information :</label>
                </div>
               
                <div class="input-field col s7">
                    <input type="text" name="CustOtherInfo" #name="ngModel" [(ngModel)]="_CustService.selectedCustomerDetails.CustOtherInfo">
                </div>
               
              </div>
    
              <div class="row">
    
                <div class="input-field col s5"> 
                        <label style="line-height:30px">GST Number :</label>
                </div>
                 
                <div class="input-field col s7">
                      <input type="text" name="GSTno" #name="ngModel" [(ngModel)]="_CustService.selectedCustomerDetails.GSTno">
                </div>
                 
              </div>
    
              <div class="row">
    
                <div class="input-field col s5"> 
                          <label style="line-height:30px">Contact Person Name :</label>
                </div>
                   
                <div class="input-field col s7">
                        <input type="text" name="ContactPersonName" #name="ngModel" [(ngModel)]="_CustService.selectedCustomerDetails.ContactPersonName">
                </div>
                   
               </div>
    
                <div class="row">
    
                  <div class="input-field col s5"> 
                     <label style="line-height:30px">Designation :</label>          
                  </div>
                     
                  <div class="input-field col s7">
                    <input type="text" name="Designation" #name="ngModel" [(ngModel)]="_CustService.selectedCustomerDetails.Designation">
                  </div>
                     
                 </div>
    
                <div class="row">
    
                  <div class="input-field col s5"> 
                      <label style="line-height:30px">Email - 1 :</label>
                  </div>
                       
                  <div class="input-field col s7">
                    <input type="text" name="FisrtEmail" #name="ngModel" [(ngModel)]="_CustService.selectedCustomerDetails.FisrtEmail">
                  </div>
                       
                </div>
    
                <div class="row">
    
                  <div class="input-field col s5"> 
                      <label style="line-height:30px">Email - 2  :</label>
                  </div>
                         
                  <div class="input-field col s7">
                    <input type="text" name="SecondEmail" #name="ngModel" [(ngModel)]="_CustService.selectedCustomerDetails.SecondEmail">
                  </div>
                         
                  </div>
    
                  <div class="row">
    
                    <div class="input-field col s5"> 
                      <label style="line-height:30px">Office Number :</label>
                    </div>
                           
                    <div class="input-field col s7">
                      <input type="text" name="OfficeNumber" #name="ngModel" [(ngModel)]="_CustService.selectedCustomerDetails.OfficeNumber">
                    </div>
                           
                  </div>
    
                  <div class="row">
    
                    <div class="input-field col s5"> 
                      <label style="line-height:30px">Mobile Number:</label>
                    </div>
                             
                   <div class="input-field col s7">
                      <input type="text" name="MobileNumber" #name="ngModel" [(ngModel)]="_CustService.selectedCustomerDetails.MobileNumber">
                    </div>
                             
                  </div>
    
                  <div class="row">
    
                    <div class="input-field col s5"> 
                      <label style="line-height:30px">Add More Contacts :</label>
                    </div>
                               
                    <div class="input-field col s7">
                      <input type="text" name="MoreContacts" #name="ngModel" [(ngModel)]="_CustService.selectedCustomerDetails.MoreContacts">
                      <!-- <input type="radio"  name="MoreContacts" #name="ngModel" [(ngModel)]="_CustomerDetailsService.selectedCustomerDetail.MoreContacts" value="Yes" >Yes &nbsp;&nbsp;
                      <input type="radio"  name="MoreContacts" #name="ngModel" [(ngModel)]="_CustomerDetailsService.selectedCustomerDetail.MoreContacts"  value="No" checked>No<br> -->
                    </div>
                               
                  </div>
    
                  <div class="row">
    
                    <div class="input-field col s5"> 
                      <label style="line-height:30px">Product Potential of This Customer :</label>
                    </div>
                                 
                    <div class="input-field col s7">
                      <input type="text" name="CustProdctPotential" #name="ngModel" [(ngModel)]="_CustService.selectedCustomerDetails.CustProdctPotential">
                      <!-- <select name="CustProdctPotential" #name="ngModel" [(ngModel)]="_CustomerDetailsService.selectedCustomerDetail.CustProdctPotential">
                          <option value="aa">aa</option>
                          <option value="bb">bb</option>
                          <option value="cc">cc</option>
                          <option value="dd">dd</option>
                        </select> -->
                    </div>
                                 
                  </div>
    
                  <div class="row">
    
                    <div class="input-field col s5"> 
                      <label style="line-height:30px">Product Choose for Praposal :</label>
                    </div>
                                   
                    <div class="input-field col s7">
                    <input type="text" name="ChooseProductPraposal" #name="ngModel" [(ngModel)]="_CustService.selectedCustomerDetails.ChooseProductPraposal" >
                    </div>
                                   
                  </div>
    
                  <div class="row">
    
                    <div class="input-field col s5"> 
                      <label style="line-height:30px">Nature of Enquirey:</label>
                    </div>
                                   
                    <div class="input-field col s7">
                    <input type="text" name="EnquireyNature" #name="ngModel" [(ngModel)]="_CustService.selectedCustomerDetails.EnquireyNature">
                    <!-- <select name="EnquireyNature" #name="ngModel" [(ngModel)]="_CustomerDetailsService.selectedCustomerDetail.EnquireyNature">
                        <option value="hot">hot</option>
                        <option value="cold">cold</option>
                        <option value="warm">warm</option>
                      </select>    -->
                  </div>
                                   
                  </div>
       
       <div class="row">
    
         <div class="input-field col s12 ">
           <button class="btn btn-success mybtn" type="submit">Submit</button>&nbsp;&nbsp;&nbsp;
           <button class="btn btn-warning resetbtn btnGroup" type="button" (click)="resetForm(CustomerDetailsForm)">Reset</button>&nbsp;&nbsp;&nbsp;
           <button class="btn btn-warning mybtn" type="button" >Cancel</button>&nbsp;&nbsp;&nbsp;
           <button class="btn btn-info mybtn" >Edit</button>&nbsp;&nbsp;&nbsp;
           <button class="btn btn-secondary mybtn" data-dismiss="modal" (click)="Onclick();">Next</button>&nbsp;&nbsp;&nbsp;
           <button type="button mybtn" class="btn btn-danger" data-dismiss="modal" style="margin-top: 10px;">Close</button>
         </div>
    
       </div>
    
     </form>
    
    </div>
    
    </div>
    </div>
    </div>

   

  </div><!--End Of Col-->
    </div><!--End Of Row-->
    <!-- CUSTOMER DETAILS TABLE  -->
 <div class="row">  
  <div class="col s12 col-md-12" style="overflow-x:auto;">
     <table class=" table-bordered" id="dataTable" width="100%" cellspacing="0">
         <!-- id="mydatatable" -->
         <thead>
           <tr>
             <th>Company Name</th>
             <th>Choose Product Praposal</th>
             <th>Enquirey Nature</th>
             <th>Actions</th> 
            </tr>
         </thead><!--End of table head-->

         <tbody>
          <tr *ngFor="let CustInfo of _CustService.custDetails">
            <td>{{CustInfo.CompanyName}}</td>
            <td>{{CustInfo.ChooseProductPraposal}}</td>
            <td>{{CustInfo.EnquireyNature}}</td>
            <td>
              <!-- Button to Open the price entry form Modal -->
              <button type="button" class="btn btn-primary btn-sm mybtn"  data-toggle="modal" data-target="#AddNewCustomerModel" (click)="onEdit(cust_details)">
                View
              </button>&nbsp;&nbsp;&nbsp;&nbsp;
             <button type="button" class="btn btn-danger btn-sm mybtn">Generate Proposal</button>
             </td> 
           </tr>
        
       </tbody>
       
       </table>
   
 </div><!--End of Table Div-->
 </div>
  </div><!--End Of Container-->
   

<!-- ADD FOOTER -->
<app-footer></app-footer>
