<div class="row">
        <div class="col-md-12">
      <h4 class="text-center"><b>Circulating Water Details</b></h4>
      </div>
      </div>

<div class="row" style="margin: auto;
width: 95%;
border: 3px solid #73AD21;
padding: 10px;">
    <div class="col-12">
    <div class="card" >
        <div class="card-body">
    <div id="circulating-water-details" [formGroup]="regForm">
      <div class="form-group col-md-12 example-form" formGroupName="CirculatingWaterDetails">
          <div class="col-md-2"><label>pH : </label></div>
          <div class="col-md-8">
                <div class="col-md-8 containers" style="border: 2px solid orangered;height:auto;padding: 5px;width: auto;">
          <!-- <input type="text" class="form-control" formControlName="cw_pH"> -->
        </div>
        <div class="col-md-2">
            <select class="form-control" formControlName="cw_pH_Unit" style="width: 96%;">
                <option>u1</option>
                <option>u2</option>
                <option>u3</option>
            </select> 
      </div>
      </div>
      <div class="form-group col-md-12" formGroupName="CirculatingWaterDetails">
        <div class="col-md-5"><label>Turbidity : </label></div>
        <div class="col-md-4">
        <input type="text" class="form-control" formControlName="cw_turbidity">
      </div>
      <div class="col-md-3">
          <select class="form-control" formControlName="cw_turbidity_Unit" style="width: 96%;">
              <option>u1</option>
              <option>u2</option>
              <option>u3</option>
          </select> 
    </div>
      </div>
  
        <div class="form-group col-md-12" formGroupName="CirculatingWaterDetails">
            <div class="col-md-5"><label>TDS :</label></div>
            <div class="col-md-4">
            <input type="text" class="form-control" formControlName="cw_TDS">
          </div>
          <div class="col-md-3">
              <select class="form-control" formControlName="cw_TDS_Unit" style="width: 96%;">
                  <option>u1</option>
                  <option>u2</option>
                  <option>u3</option>
              </select> 
        </div>
          </div>
  
          <div class="form-group col-md-12" formGroupName="CirculatingWaterDetails">
              <div class="col-md-5"><label>Conductivity : </label></div>
              <div class="col-md-4">
              <input type="text" class="form-control" formControlName="cw_Conductivity">
            </div>
            <div class="col-md-3">
                <select class="form-control" formControlName="cw_Conductivity_Unit" style="width: 96%;">
                    <option>u1</option>
                    <option>u2</option>
                    <option>u3</option>
                </select> 
          </div>
            </div>
  
            <div class="form-group col-md-12" formGroupName="CirculatingWaterDetails">
                <div class="col-md-5"><label>Total Hardness :</label></div>
                <div class="col-md-4">
                    <input type="text" class="form-control" formControlName="cw_TotalHardness">
                  </div>
              <div class="col-md-3">
                  <select class="form-control" formControlName="cw_TotalHardness_Unit" style="width: 96%;">
                      <option>u1</option>
                      <option>u2</option>
                      <option>u3</option>
                  </select> 
            </div>
              </div>
  
              <div class="form-group col-md-12" formGroupName="CirculatingWaterDetails">
                  <div class="col-md-5"><label>Calcium Hardness :<br>Info :</label></div>
                  <div class="col-md-4">
                  <input type="text" class="form-control" formControlName="cw_CalciumHardness">
                </div>
                <div class="col-md-3">
                    <select class="form-control" formControlName="cw_CalciumHardness_Unit" style="width: 96%;">
                        <option>u1</option>
                        <option>u2</option>
                        <option>u3</option>
                    </select> 
              </div>
                </div>

                <div class="form-group col-md-12" formGroupName="CirculatingWaterDetails">
                    <div class="col-md-5"><label>Total Alkalinity :</label></div>
                    <div class="col-md-4">
                    <input type="text" class="form-control" formControlName="cw_TotalAlkalinity">
                  </div>
                  <div class="col-md-3">
                      <select class="form-control" formControlName="cw_TotalAlkalinity_Unit" style="width: 96%;">
                          <option>u1</option>
                          <option>u2</option>
                          <option>u3</option>
                      </select> 
                </div>
                </div>
  
              </div>
    </div><!--End of Card Body-->
    </div><!--End of card-->
    </div><!--End of First Col-->
    
    <div class="col-6">
    <div class="card">
        <div class="card-body">
    <div id="circulating-water-details" [formGroup]="regForm">

          <div class="form-group col-md-12" formGroupName="CirculatingWaterDetails">
              <div class="col-md-5"><label>Chloride :</label></div>
              <div class="col-md-4">
              <input type="text" class="form-control" formControlName="cw_Chloride">
            </div>
            <div class="col-md-3">
                <select class="form-control" formControlName="cw_Chloride_Unit" style="width: 96%;">
                    <option>u1</option>
                    <option>u2</option>
                    <option>u3</option>
                </select> 
          </div>
            </div>

        <div class="form-group col-md-12" formGroupName="CirculatingWaterDetails">
            <div class="col-md-5"> <label> Sulphates : </label></div>
           <div class="col-md-4">
            <input type="text" class="form-control" formControlName="cw_Sulphates">
          </div>
          <div class="col-md-3">
              <select class="form-control" formControlName="cw_Sulphates_Unit" style="width: 96%;">
                  <option>u1</option>
                  <option>u2</option>
                  <option>u3</option>
              </select> 
        </div>
          </div>
  
          <div class="form-group col-md-12" formGroupName="CirculatingWaterDetails">
              <div class="col-md-5"> <label>Silica :</label></div>
             <div class="col-md-4">
              <input type="text" class="form-control" formControlName="cw_Silica" >
            </div>
            <div class="col-md-3">
                <select class="form-control" formControlName="cw_Silica_Unit" style="width: 96%;">
                    <option>u1</option>
                    <option>u2</option>
                    <option>u3</option>
                </select> 
          </div>
            </div>

            <div class="form-group col-md-12" formGroupName="CirculatingWaterDetails">
                <div class="col-md-5"> <label>Phosphate :</label></div>
               <div class="col-md-4">
                <input type="text" class="form-control" formControlName="cw_phosphate" >
              </div>
              <div class="col-md-3">
                  <select class="form-control" formControlName="cw_phosphate_Unit" style="width: 96%;">
                      <option>u1</option>
                      <option>u2</option>
                      <option>u3</option>
                  </select> 
            </div>
              </div>

              <div class="form-group col-md-12" formGroupName="CirculatingWaterDetails">
                  <div class="col-md-5"> <label>Zinc :</label></div>
                 <div class="col-md-4">
                  <input type="text" class="form-control" formControlName="cw_zinc" >
                </div>
                <div class="col-md-3">
                    <select class="form-control" formControlName="cw_zinc_Unit" style="width: 96%;">
                        <option>u1</option>
                        <option>u2</option>
                        <option>u3</option>
                    </select> 
              </div>
                </div>

                <div class="form-group col-md-12" formGroupName="CirculatingWaterDetails">
                    <div class="col-md-5"> <label>Any Other :</label></div>
                   <div class="col-md-4">
                    <input type="text" class="form-control" formControlName="cw_AnyOther1" >
                  </div>
                  <div class="col-md-3">
                      <select class="form-control" formControlName="cw_AnyOther1_Unit" style="width: 96%;">
                          <option>u1</option>
                          <option>u2</option>
                          <option>u3</option>
                      </select> 
                </div>
                  </div>
  
            <div class="form-group col-md-12" formGroupName="CirculatingWaterDetails">
                <div class="col-md-5"> <label>Any Other : </label></div>
               <div class="col-md-4">
                <input type="text" class="form-control" formControlName="cw_AnyOther2">
              </div>
              <div class="col-md-3">
                  <select class="form-control" formControlName="cw_AnyOther2_Unit" style="width: 96%;">
                      <option>u1</option>
                      <option>u2</option>
                      <option>u3</option>
                  </select> 
            </div>
              </div>
  
  
    </div>
    </div>
    </div><!--End of Second Col-->
    </div><!--End Of Row-->

        
    <div class="col-md-12">
        <div class="row pagination-centered"  style="padding-left: 450px; margin-bottom: 3px;">
            <button type="button" class="btn btn-primary" matStepperPrevious>Back</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-primary" >Edit</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-primary" matStepperNext (click)="step5Submitted()" >Next</button>
            <!-- <button type="button" class="btn btn-primary" style="margin-left: 2px">Submit</button>&nbsp;&nbsp; -->
        <!-- <button mat-raised-button color="primary" type="button" matStepperNext (click)="step1Submitted()" >Next</button> --> 
       </div>
       </div>
