
<div class="row">
    <div class="col-md-12">
  <h4 class="text-center"><b>Cooling Tower Operating Condition </b></h4>
  </div>
  </div>

<div class="row" style="margin: auto;
width: 95%;
border: 3px solid #73AD21;
padding: 10px;">
    <div class="col-6">
    <div class="card" >
        <div class="card-body" style="padding-bottom: 71px;">
    <div id="circulating-water-details" [formGroup]="regForm">
      <div class="form-group col-md-12 example-form" formGroupName="CoolingTowerOperatingCondition">
          <div class="col-md-7"><label>Is tower maintenance proper? </label></div>
        <div class="col-md-5">
            <select class="form-control" formControlName="Test1" style="width: 96%;">
                <option>Yes</option>
                <option>No</option>
            </select> 
      </div>
      </div>
      
      <div class="form-group col-md-12 example-form" formGroupName="CoolingTowerOperatingCondition">
          <div class="col-md-7"><label>Is algae seen on tower?</label></div>
        <div class="col-md-5">
            <select class="form-control" formControlName="Test2" style="width: 96%;">
                <option>Yes</option>
                <option>No</option>
            </select> 
      </div>
      </div>

      <div class="form-group col-md-12 example-form" formGroupName="CoolingTowerOperatingCondition">
          <div class="col-md-7"><label>Is slime in tower? </label></div>
        <div class="col-md-5">
            <select class="form-control" formControlName="Test3" style="width: 96%;">
                <option>Yes</option>
                <option>No</option>
            </select> 
      </div>
      </div>

      <div class="form-group col-md-12 example-form" formGroupName="CoolingTowerOperatingCondition">
          <div class="col-md-7"><label>Is sump water turbidity? </label></div>
        <div class="col-md-5">
            <select class="form-control" formControlName="Test 4" style="width: 96%;">
                <option>Yes</option>
                <option>No</option>
            </select> 
      </div>
      </div>
    </div>
    </div><!--End of Card Body-->
    </div><!--End of card-->
    </div><!--End of First Col-->
    
    <div class="col-6">
    <div class="card">
        <div class="card-body" style="padding-bottom: 11px;">
    <div id="personal-details" [formGroup]="regForm">
        <div class="form-group col-md-12 example-form" formGroupName="CoolingTowerOperatingCondition">
            <div class="col-md-7"><label>Is there any contamination?</label></div>
          <div class="col-md-5">
              <select class="form-control" formControlName="Test5" style="width: 96%;">
                  <option>Yes</option>
                  <option>No</option>
              </select> 
        </div>
        </div>

        <div class="form-group col-md-12 example-form" formGroupName="CoolingTowerOperatingCondition">
            <div class="col-md-7"><label>Is copper corrosion control required?</label></div>
          <div class="col-md-5">
              <select class="form-control" formControlName="Test6" style="width: 96%;">
                  <option>Yes</option>
                  <option>No</option>
              </select> 
        </div>
        </div>

        <div class="form-group col-md-12 example-form" formGroupName="CoolingTowerOperatingCondition">
            <div class="col-md-7"><label>Any other observation</label></div>
          <div class="col-md-5">
              <input type="text" class="form-control" formControlName="Observation">
        </div>
        </div>

        <div class="form-group col-md-12 example-form" formGroupName="CoolingTowerOperatingCondition">
            <div class="col-md-7"><label>Any other comments</label></div>
          <div class="col-md-5">
              <input type="text" class="form-control" formControlName="Comments">
        </div>
        </div>
    </div>
    </div>
    </div><!--End of Second Col-->
    </div><!--End Of Row-->
    

<div class="col-md-12">
  <div class="row pagination-centered"  style="padding-left: 450px; margin-bottom: 3px;">
    <!-- <button type="button" class="btn btn-primary" style="margin-left: 2px">Submit</button>&nbsp;&nbsp; -->
    <button type="button" class="btn btn-primary" matStepperPrevious>Back</button>&nbsp;&nbsp;
    <button type="button" class="btn btn-primary" >Edit</button>&nbsp;&nbsp;
    <button type="button" class="btn btn-primary" matStepperNext (click)="step7Submitted()" >Next</button>
    <!-- <button mat-raised-button color="primary" type="button" matStepperNext (click)="step1Submitted()" >Next</button> -->
    </div>
</div>    
    