

<app-header></app-header>

<div class="container">
    <div class="row">
        <div class="col s12 col-md-12">
            <table class="table-bordered " width="100%" cellspacing="0" style="margin-top: 62px;">
                <!-- class="mytable" -->
                <thead>
                    <tr><th>Product Number</th>
                        <th>Product Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>

                        <td> 1 </td>

                        <td> Corrosion and scale inhibitor </td>

                        <td>
                        <button routerLink="/Corrosion-And-Scale-Inhibitor" type="button" class="btn btn-success button1 btn-sm" style="margin-left: 20px;">View </button>
                        </td>
                    </tr>

                    <tr>
                        <td> 2 </td>

                        <td> Biodisperant selection </td>

                        <td>
                            <button routerLink="/Biodisperasnt-Selection" type="button" class="btn btn-info button1 btn-sm" style="margin-left: 20px;">View </button>
                        </td>

                    </tr>

                    <tr>
                        <td> 3 </td>

                        <td> Biocide selection </td>

                        <td>
                            <button routerLink="/Biocide-Selection" type="button" class="btn btn-success button1 btn-sm" style="margin-left: 20px;" > View </button>
                        </td>

                    </tr>

                    <tr>
                        <td> 4 </td>

                        <td> Copper corrosion control </td>

                        <td>
                            <button routerLink="/Copper-Corrosion-Control" type="button" class="btn btn-info button1 btn-sm" style="margin-left: 20px;" > View </button>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
<!--End of Container-->
<br>
<br>
<button onclick="history.go(-1);" class="btn btn-outline-success " data-toggle="modal" style="margin-left: 44%"><i class="fa fa-dashboard"></i>&nbsp;Back to Dashboard</button>
<!-- ADD FOOTER -->
<app-footer></app-footer>



<!-- <router-outlet></router-outlet> -->


