/* .mat-radio-group{background-color: darkblue}
.inner-circle{background-color: darkolivegreen} */
  input[type=text], input[type=password] {
    /* background-color: #f6f6f6; */
    background-color: white;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px;
    width: 95%;
    border: 1px solid #d2cece;
    transition: all 0.5s ease-in-out;
    border-radius: 5px 5px 5px 5px;
}
textarea.form-control {
    height: auto;
    padding: 2px;
    width: 95%;
}
.card{
    width: 545px;box-shadow:  3px 1px  #888;margin: 20px auto; 
}
.hide {
    display: none;
  }
  .card-body{height:600px};
#mandetory{font-size: 10px;}



/*@media (min-width: 576px) {
  input[type=text], input[type=password] {
    /* background-color: #f6f6f6; 
    background-color: white;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px;
    width: 15%;
    border: 1px solid #d2cece;
    transition: all 0.5s ease-in-out;
    border-radius: 5px 5px 5px 5px;
}
}*/