

<head>
  <title>Dealer Sales Engineer Dashboard</title>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
 
 
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      /* background-color: lightgray;
      padding: 15px;
      margin-top: 495px; */
      background-color: lightgray;
padding: 15px;position: fixed;left: 0;bottom: 0;width: 100%;
    }
  </style>
</head>


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand"><b style="font-size: 25px; color: cornsilk;">Dealer Sales Engineer Dashboard </b></a>
    </div>
    
  </div>
</nav>

<div class="jumbotron" style="padding-bottom: 15px;padding-top: 15px;">
  <div class="container-fluid text-center">
              
          <button routerLink="/customerDetails" type="button" class="btn btn-primary button btn-sm">Add New Customer</button>&nbsp;&nbsp;
         <app-customer-list></app-customer-list> 
  </div>
</div>
 

<!-- ALL FORMS -->
<!-- <h4>Make Up Water Details</h4>
<form #MakeUpWaterDetailsForm="ngForm" >

  <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="_priceDetailsService.selectedProductPrice._id"> 

  
   <div class="row">
   
    <div class="input-field col s6">
        <label>Source of Water : <label class="red-text">*</label> </label>
    </div>

    <div class="input-field col s3">
    <input type="text" >
    </div>

    <div class="input-field col s3">
      <select>
        <option value="hot">Unit</option>
        <option value="cold">Unit</option>
        </select> 
    </div>

  </div>

  <div class="row">
   
    <div class="input-field col s6">
        <label>pH : <label class="red-text">*</label> </label>
    </div>

    <div class="input-field col s3">
    <input type="text" >
    </div>

    <div class="input-field col s3">
      <select>
        <option value="hot">Unit</option>
        <option value="cold">Unit</option>
        </select> 
    </div>

  </div>

  <div class="row">
   
    <div class="input-field col s6">
        <label>Turbidity : <label class="red-text">*</label> </label>
    </div>

    <div class="input-field col s3">
    <input type="text" >
    </div>

    <div class="input-field col s3">
      <select>
        <option value="hot">Unit</option>
        <option value="cold">Unit</option>
        </select> 
    </div>

  </div>

  <div class="row">
   
    <div class="input-field col s6">
        <label>TDS : <label class="red-text">*</label> </label>
    </div>

    <div class="input-field col s3">
    <input type="text" >
    </div>

    <div class="input-field col s3">
      <select>
        <option value="hot">Unit</option>
        <option value="cold">Unit</option>
        </select> 
    </div>

  </div>

  <div class="row">
   
    <div class="input-field col s6">
        <label>Conductivity : <label class="red-text">*</label> </label>
    </div>

    <div class="input-field col s3">
    <input type="text" >
    </div>

    <div class="input-field col s3">
      <select>
        <option value="hot">Unit</option>
        <option value="cold">Unit</option>
        </select> 
    </div>

  </div>

  <div class="row">
   
    <div class="input-field col s6">
        <label>Total Hardness : <label class="red-text">*</label> </label>
    </div>

    <div class="input-field col s3">
    <input type="text" >
    </div>

    <div class="input-field col s3">
      <select>
        <option value="hot">Unit</option>
        <option value="cold">Unit</option>
        </select> 
    </div>

  </div>

  <div class="row">
   
    <div class="input-field col s6">
        <label>Source of Water : <label class="red-text">*</label> </label>
    </div>

    <div class="input-field col s3">
    <input type="text" >
    </div>

    <div class="input-field col s3">
      <select>
        <option value="hot">Unit</option>
        <option value="cold">Unit</option>
        </select> 
    </div>

  </div>
   </form> -->

   <!-- ANGULAR STRPPER -->
   <div id="registration" class="conatiner col-md-12" >
    <!-- <div class="card" > -->
        <!-- <div class="card-body"  > -->
 
  <form id="regForm" [formGroup]="NewCustomerRegistrationForm">
       <mat-horizontal-stepper #stepper linear>
      <mat-step formGroupName="CustomerDetails" 
        [stepControl]="NewCustomerRegistrationForm.get('CustomerDetails')">
          <ng-template matStepLabel matSteperIcon="edit">Step 1</ng-template>
        <app-registration-step1 [regForm]="NewCustomerRegistrationForm"></app-registration-step1>
      </mat-step>

      <mat-step formGroupName="TowerDetails"
      [stepControl]="NewCustomerRegistrationForm.get('TowerDetails')">
        <ng-template matStepLabel>Step 2</ng-template>
        <app-registration-step2 [regForm]="NewCustomerRegistrationForm"></app-registration-step2>
      </mat-step>
 
      <mat-step formGroupName="TowerDetails"
      [stepControl]="NewCustomerRegistrationForm.get('TowerDetails')">
        <ng-template matStepLabel>Step 3</ng-template>
        <app-registration-step4 [regForm]="NewCustomerRegistrationForm"></app-registration-step4>
      </mat-step>

      <mat-step formGroupName="CirculatingWaterDetails"
      [stepControl]="NewCustomerRegistrationForm.get('CirculatingWaterDetails')">
        <ng-template matStepLabel>Step 4</ng-template>
        <app-registration-step5 [regForm]="NewCustomerRegistrationForm"></app-registration-step5>
      </mat-step>

      <mat-step formGroupName="CoolingTowerDetails"
      [stepControl]="NewCustomerRegistrationForm.get('CoolingTowerDetails')">
        <ng-template matStepLabel>Step 5</ng-template>
        <app-registration-step6 [regForm]="NewCustomerRegistrationForm"></app-registration-step6>
      </mat-step>

      <mat-step formGroupName="CoolingTowerOperatingCondition"
      [stepControl]="NewCustomerRegistrationForm.get('CoolingTowerOperatingCondition')">
        <ng-template matStepLabel>Step 6</ng-template>
        <app-registration-step7 [regForm]="NewCustomerRegistrationForm"></app-registration-step7>
      </mat-step>

      <mat-step formGroupName="WaterRequirementDetails"
      [stepControl]="NewCustomerRegistrationForm.get('WaterRequirementDetails')">
        <ng-template matStepLabel>Step 7</ng-template>
        <app-registration-step8 [regForm]="NewCustomerRegistrationForm"></app-registration-step8>
      </mat-step>

      <mat-step formGroupName="CoolingSystemPhotoDetails"
      [stepControl]="NewCustomerRegistrationForm.get('CoolingSystemPhotoDetails')">
        <ng-template matStepLabel>Step 8</ng-template>
        <app-registration-step9 [regForm]="NewCustomerRegistrationForm"></app-registration-step9>
      </mat-step>

      <mat-step formGroupName="PresentTreatmentDetails"
      [stepControl]="NewCustomerRegistrationForm.get('PresentTreatmentDetails')">
        <ng-template matStepLabel>Step 9</ng-template>
        <app-registration-step10 [regForm]="NewCustomerRegistrationForm"></app-registration-step10>
      </mat-step>

      <mat-step formGroupName="ProductRecommendation"
      [stepControl]="NewCustomerRegistrationForm.get('ProductRecommendation')">
        <ng-template matStepLabel>Step 10</ng-template>
        <app-registration-step11 [regForm]="NewCustomerRegistrationForm"></app-registration-step11>
      </mat-step>

      <mat-step formGroupName="ModifyProductRecommendation"
      [stepControl]="NewCustomerRegistrationForm.get('ModifyProductRecommendation')">
        <ng-template matStepLabel>Step 11</ng-template>
        <app-registration-step12 [regForm]="NewCustomerRegistrationForm"></app-registration-step12>
      </mat-step>

      <mat-step formGroupName="GenerateProposal"
      [stepControl]="NewCustomerRegistrationForm.get('GenerateProposal')">
        <ng-template matStepLabel>Step 12</ng-template>
        <app-registration-step13 [regForm]="NewCustomerRegistrationForm"></app-registration-step13>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Confirm Details</ng-template>
        <app-registration-step3 [regForm]="NewCustomerRegistrationForm"></app-registration-step3>
      </mat-step>
    </mat-horizontal-stepper>
    
    
  </form>
</div>
<!-- </div>

</div> -->

<!-- <footer class="fixed-bottom text-center container-fluid"style="margin-top: 795px;padding: 15px;">
  <p><b style="font-size: 15px;">Pennar Industries Ltd.</b></p>
</footer> -->


