.resetbtn{margin-top:20px;width:80%;margin-left:12px;}
.mybtn{margin-top: 10px; }
h4{text-align: center;margin-left: 30%;}
#addCustBtn{width:220px; margin-left: 40%;margin-bottom:10px;}
select {
    width: 180px;
    margin: 10px;
}
select:focus {
    min-width: 180px;
    width: auto;
}    

.mytable {
    border-collapse: collapse;
    text-align: center;
    width:100%;
  } 
   th{background-color:dimgray;color:white;padding:10px 5px;text-align: center;}
   .mytable tr{ background-color:ivory;}
  .mytable th,td {
    border: 1px solid black;
    text-align: center;
  }
  .mybtn{padding: 2px 5px;margin: 2px 0px;padding:5px 10px;}

