
<app-dmheader></app-dmheader>

<div class="jumbotron" style="padding-bottom: 15px;padding-top: 15px;">
  <div class="container text-center">
    <button type="button" class="btn btn-primary button btn-sm" data-toggle="modal" data-target="#AddNewSalesEngineerModel"><i class="fa fa-check-square-o"></i>&nbsp;Add New Sales Engineer</button>
    <button type="button" class="btn btn-success button1 btn-sm" style="margin-left: 20px;" id="addCustBtn" data-toggle="modal" data-target="#AddNewCustomerModel"> <i class="fa fa-plus"></i>&nbsp;Add new Customer </button>
    <button routerLink="/ListofsalesengineerComponent" type="button" class="btn btn-info button1 btn-sm" style="margin-left: 20px;" > <i class="fa fa-list"></i>&nbsp;List Of Sales Engineer</button>
    <button routerLink="" type="button" class="btn btn-warning button1 btn-sm" style="margin-left: 20px;"  title="Under Progress"><i class="fa fa-list"></i> &nbsp;Approval Pending For Sales Engineer </button>
    <!-- <button (click)="onLogout()" type="button" class="btn btn-primary button btn-sm btn-dark" style="float: right;border-radius: 50px 50px 50px 50px; padding: 5px 20px;margin-right: -80px; "><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;&nbsp;Logout</button>
  </div> -->
  </div>
</div>


<!-- CUSTOMER DETAILS POP UP MODEL -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      
        <!-- The Modal -->
    <div class="modal" id="AddNewCustomerModel"  >
    <div class="modal-dialog  model-lg">
    <div class="modal-content">
    
    <!-- Modal Header -->
    <div class="modal-header">
    <h4 class="modal-title" >Customer Details</h4>
    <button type="button" class="close" data-dismiss="modal" style="color: white;">&times;</button>
    </div>
    
    <!-- Modal body -->
    <div class="modal-body" >
    <form #CustomerDetailsForm="ngForm" (ngSubmit)="onCustomerInfoSubmit(CustomerDetailsForm)">
     <!-- <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="_CustService.selectedCustomerDetail._id">  -->
      <div class="row">
    
        <div class="input-field col s5"> 
           <label style="line-height:30px">Company Name :</label>
        </div>
    
        <div class="input-field col s7">
          <input type="text" name="CompanyName" #name="ngModel" [(ngModel)]="_CustService.selectedCustomerDetails.CompanyName">
        </div>
    
       </div>
    
       <div class="row">
    
        <div class="input-field col s5"> 
            <label>City Name :</label>
        </div>
     
        <div class="input-field col s7">
          <input type="text" name="CityName" #name="ngModel" [(ngModel)]="_CustService.selectedCustomerDetails.CityName">
        </div>
     
        </div>
    
        <div class="row">
    
         <div class="input-field col s5"> 
              <label style="line-height:30px">Address :</label>
         </div>
       
         <div class="input-field col s7">
            <input type="text" name="Address" #name="ngModel" [(ngModel)]="_CustService.selectedCustomerDetails.Address">
         </div>
       
          </div>
    
          <div class="row">
    
            <div class="input-field col s5"> 
                <label style="line-height:30px">PinCode :</label>
            </div>
         
            <div class="input-field col s7">
              <input type="text" name="Pincode" #name="ngModel" [(ngModel)]="_CustService.selectedCustomerDetails.Pincode">
            </div>
         
            </div>
    
            <div class="row">
    
              <div class="input-field col s5"> 
                  <label style="line-height:30px">Dealer Code :</label>
              </div>
           
              <div class="input-field col s7">
                <input type="text" name="DealerCode" #name="ngModel" [(ngModel)]="_CustService.selectedCustomerDetails.DealerCode">
              </div>
           
              </div>
    
              <div class="row">
    
                <div class="input-field col s5"> 
                    <label style="line-height:30px">Type of Indusrty :</label>
                </div>
             
                <div class="input-field col s7">
                  <input type="text" name="IndusrtyType" #name="ngModel" [(ngModel)]="_CustService.selectedCustomerDetails.IndusrtyType">
                  <!-- <select name="IndusrtyType" #name="ngModel" [(ngModel)]="_CustomerDetailsService.selectedCustomerDetail.IndusrtyType">
                      <option value="IT">IT</option>
                      <option value="Healthcare">Healthcare</option>
                      <option value="Accounting">Accounting</option>
                      <option value="Education">Education</option>
                    </select> -->
                </div>
             
                </div>
    
              <div class="row">
    
                <div class="input-field col s5"> 
                      <label style="line-height:30px">Any Other Customer Information :</label>
                </div>
               
                <div class="input-field col s7">
                    <input type="text" name="CustOtherInfo" #name="ngModel" [(ngModel)]="_CustService.selectedCustomerDetails.CustOtherInfo">
                </div>
               
              </div>
    
              <div class="row">
    
                <div class="input-field col s5"> 
                        <label style="line-height:30px">GST Number :</label>
                </div>
                 
                <div class="input-field col s7">
                      <input type="text" name="GSTno" #name="ngModel" [(ngModel)]="_CustService.selectedCustomerDetails.GSTno">
                </div>
                 
              </div>
    
              <div class="row">
    
                <div class="input-field col s5"> 
                          <label style="line-height:30px">Contact Person Name :</label>
                </div>
                   
                <div class="input-field col s7">
                        <input type="text" name="ContactPersonName" #name="ngModel" [(ngModel)]="_CustService.selectedCustomerDetails.ContactPersonName">
                </div>
                   
               </div>
    
                <div class="row">
    
                  <div class="input-field col s5"> 
                     <label style="line-height:30px">Designation :</label>          
                  </div>
                     
                  <div class="input-field col s7">
                    <input type="text" name="Designation" #name="ngModel" [(ngModel)]="_CustService.selectedCustomerDetails.Designation">
                  </div>
                     
                 </div>
    
                <div class="row">
    
                  <div class="input-field col s5"> 
                      <label style="line-height:30px">Email - 1 :</label>
                  </div>
                       
                  <div class="input-field col s7">
                    <input type="text" name="FisrtEmail" #name="ngModel" [(ngModel)]="_CustService.selectedCustomerDetails.FisrtEmail">
                  </div>
                       
                </div>
    
                <div class="row">
    
                  <div class="input-field col s5"> 
                      <label style="line-height:30px">Email - 2  :</label>
                  </div>
                         
                  <div class="input-field col s7">
                    <input type="text" name="SecondEmail" #name="ngModel" [(ngModel)]="_CustService.selectedCustomerDetails.SecondEmail">
                  </div>
                         
                  </div>
    
                  <div class="row">
    
                    <div class="input-field col s5"> 
                      <label style="line-height:30px">Office Number :</label>
                    </div>
                           
                    <div class="input-field col s7">
                      <input type="text" name="OfficeNumber" #name="ngModel" [(ngModel)]="_CustService.selectedCustomerDetails.OfficeNumber">
                    </div>
                           
                  </div>
    
                  <div class="row">
    
                    <div class="input-field col s5"> 
                      <label style="line-height:30px">Mobile Number:</label>
                    </div>
                             
                   <div class="input-field col s7">
                      <input type="text" name="MobileNumber" #name="ngModel" [(ngModel)]="_CustService.selectedCustomerDetails.MobileNumber">
                    </div>
                             
                  </div>
    
                  <div class="row">
    
                    <div class="input-field col s5"> 
                      <label style="line-height:30px">Add More Contacts :</label>
                    </div>
                               
                    <div class="input-field col s7">
                      <input type="text" name="MoreContacts" #name="ngModel" [(ngModel)]="_CustService.selectedCustomerDetails.MoreContacts">
                      <!-- <input type="radio"  name="MoreContacts" #name="ngModel" [(ngModel)]="_CustomerDetailsService.selectedCustomerDetail.MoreContacts" value="Yes" >Yes &nbsp;&nbsp;
                      <input type="radio"  name="MoreContacts" #name="ngModel" [(ngModel)]="_CustomerDetailsService.selectedCustomerDetail.MoreContacts"  value="No" checked>No<br> -->
                    </div>
                               
                  </div>
    
                  <div class="row">
    
                    <div class="input-field col s5"> 
                      <label style="line-height:30px">Product Potential of This Customer :</label>
                    </div>
                                 
                    <div class="input-field col s7">
                      <input type="text" name="CustProdctPotential" #name="ngModel" [(ngModel)]="_CustService.selectedCustomerDetails.CustProdctPotential">
                      <!-- <select name="CustProdctPotential" #name="ngModel" [(ngModel)]="_CustomerDetailsService.selectedCustomerDetail.CustProdctPotential">
                          <option value="aa">aa</option>
                          <option value="bb">bb</option>
                          <option value="cc">cc</option>
                          <option value="dd">dd</option>
                        </select> -->
                    </div>
                                 
                  </div>
    
                  <div class="row">
    
                    <div class="input-field col s5"> 
                      <label style="line-height:30px">Product Choose for Praposal :</label>
                    </div>
                                   
                    <div class="input-field col s7">
                    <input type="text" name="ChooseProductPraposal" #name="ngModel" [(ngModel)]="_CustService.selectedCustomerDetails.ChooseProductPraposal" >
                    </div>
                                   
                  </div>
    
                  <div class="row">
    
                    <div class="input-field col s5"> 
                      <label style="line-height:30px">Nature of Enquiry:</label>
                    </div>
                                   
                    <div class="input-field col s7">
                    <input type="text" name="EnquireyNature" #name="ngModel" [(ngModel)]="_CustService.selectedCustomerDetails.EnquireyNature">
                    <!-- <select name="EnquireyNature" #name="ngModel" [(ngModel)]="_CustomerDetailsService.selectedCustomerDetail.EnquireyNature">
                        <option value="hot">hot</option>
                        <option value="cold">cold</option>
                        <option value="warm">warm</option>
                      </select>    -->
                  </div>
                                   
                  </div>
       
       <div class="row">
    
         <div class="input-field col s12 " id="my_centered_buttons" style="margin-top: 28px;margin-bottom: 20px;">
           <button class="btn btn-success mybtn" type="submit" style="width: 15%;">Submit</button>&nbsp;&nbsp;&nbsp;
           <button class="btn btn-warning resetbtn btnGroup" type="button" (click)="resetForm(CustomerDetailsForm)" style="width: 15%;">Reset</button>&nbsp;&nbsp;&nbsp;
           <button class="btn btn-info mybtn" style="width: 15%;">Edit</button>&nbsp;&nbsp;&nbsp;
           <button class="btn btn-secondary mybtn" data-dismiss="modal" (click)="Onclick();" style="width: 15%;">Next</button>&nbsp;&nbsp;&nbsp;
           <button type="button mybtn" class="btn btn-danger" data-dismiss="modal" style="width: 15%;">Close</button>
         </div>
    
       </div>
    
     </form>
    
    </div> <!--End of Model Body-->
   </div> <!--End of modal-content-->
    </div> <!--End of modal-dialog-->
    </div> <!--End of modal-->
    </div><!--End Of Col-->
    </div><!--End Of Row-->

 <!-- ADD NEW SALES ENGINEER -->
  <!-- CUSTOMER DETAILS POP UP MODEL -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        
          <!-- The Modal -->
      <div class="modal" id="AddNewSalesEngineerModel"  >
      <div class="modal-dialog  model-lg">
      <div class="modal-content">
      
      <!-- Modal Header -->
      <div class="modal-header">
      <h4 class="modal-title" >Add New Sales Engineer</h4>
      <button type="button" class="close" data-dismiss="modal" style="color: white;">&times;</button>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body" >
      <form >
        <div class="row">
          <div class="input-field col-md-4"><label>First Name :</label></div>
          <div class="input-field col-md-8">
          <input type="text" >
        </div>
        </div>
        <!-- Validation Div -->
          
        
            <div class="row">
            <div class="input-field col-md-4"><label>Last Name :</label></div>
            <div class="input-field col-md-8">
            <input type="text">
          </div>
          </div>
          <!-- Validation Div -->
            
        
            <div class="row">
              <div class="input-field col-md-4"><label>Address :</label></div>
              <div class="input-field col-md-8">
              <input type="text" >
            </div>
            </div>
            <!-- Validation Div -->
              
        
              <div class="row">
                <div class="input-field col-md-4"><label>Email :</label></div>
                <div class="input-field col-md-8">
                <input type="text" >
              </div>
              </div>
              <!-- Validation Div -->
               
                <div class="row">
                  <div class="input-field col-md-4"><label>Mobile No :</label></div>
                  <div class="input-field col-md-8">
                  <input type="text" >
                </div>
                </div>
                <!-- Validation Div -->
                
        
                  <div class="row">
                    <div class="input-field col-md-4"><label>PAN No :</label></div>
                    <div class="input-field col-md-8">
                    <input type="text" >
                  </div>
                  </div>
                  <!-- Validation Div -->
                    
        
                    <div class="row">
                      <div class="input-field col-md-4"><label>Adhar No :</label></div>
                      <div class="input-field col-md-8">
                      <input type="text" >
                    </div>
                    </div>
                    <!-- Validation Div -->
                     
        
                      <div class="row">
                        <div class="input-field col-md-4"><label>Password :</label></div>
                        <div class="input-field col-md-8">
                        <input type="text" >
                      </div>
                      </div>
                      <!-- Validation Div -->
                       
        
                        <div class="row" >
                      
                          <div class="input-field col s12 " id="my_centered_buttons" style="margin-top: 28px;margin-bottom: 20px;">
                            &nbsp;&nbsp; 
                            <!-- <input type="submit" value="Sign Up"> -->
                            <button class="btn btn-info btnGroup" type="submit" onclick="onPSESubmit()" >Submit for Approval</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;
                            <button type="button" class="btn btn-danger" data-dismiss="modal"  style="width: 25%;">Close</button>&nbsp;&nbsp;&nbsp;
                       
                          </div>
                      
                        </div>
        
        
        
      </form>
    </div> <!--End of Model Body-->
  </div> <!--End of modal-content-->
   </div> <!--End of modal-dialog-->
   </div> <!--End of modal-->
   </div><!--End Of Col-->
   </div><!--End Of Row-->

  </div><!--End Of Container-->


 
<button onclick="history.go(-1);" class="btn btn-outline-success " data-toggle="modal" style="margin-left: 44%"><i class="fa fa-dashboard"></i>&nbsp;Back to Dashboard</button>


<app-dmfooter></app-dmfooter>





<!-- <router-outlet></router-outlet> -->


<app-dmfooter></app-dmfooter>