<div class="row">
    <div class="col-md-12">
  <h4 class="text-center"><b>Cooling Tower Details</b></h4>
  </div>
  </div>

<div class="row" style="margin: auto;
width: 95%;
border: 3px solid #73AD21;
padding: 10px;">
    <div class="col-6">
    <div class="card" >
        <div class="card-body">
    <div id="circulating-water-details" [formGroup]="regForm">
      <div class="form-group col-md-12 example-form" formGroupName="CoolingTowerDetails">
          <div class="col-md-5"><label>Water Circulation Rate : </label></div>
          <div class="col-md-4">
          <input type="text" class="form-control" formControlName="WaterCirculationRate">
        </div>
        <div class="col-md-3">
            <select class="form-control" formControlName="WaterCirculationRate_Unit" style="width: 96%;">
                <option>u1</option>
                <option>u2</option>
                <option>u3</option>
            </select> 
      </div>
      </div>
      <div class="form-group col-md-12" formGroupName="CoolingTowerDetails">
        <div class="col-md-5"><label>Cooling Tower Temp Outlet : </label></div>
        <div class="col-md-4">
        <input type="text" class="form-control" formControlName="CoolingTowerTempOutlet">
      </div>
      <div class="col-md-3">
          <select class="form-control" formControlName="CoolingTowerTempOutlet_Unit" style="width: 96%;">
              <option>u1</option>
              <option>u2</option>
              <option>u3</option>
          </select> 
    </div>
      </div>
  
        <div class="form-group col-md-12" formGroupName="CoolingTowerDetails">
            <div class="col-md-5"><label>Cooling Tower Temp Inlet :</label></div>
            <div class="col-md-4">
            <input type="text" class="form-control" formControlName="CoolingTowerTempInlet">
          </div>
          <div class="col-md-3">
              <select class="form-control" formControlName="CoolingTowerTempInlet_Unit" style="width: 96%;">
                  <option>u1</option>
                  <option>u2</option>
                  <option>u3</option>
              </select> 
        </div>
          </div>
  
          <div class="form-group col-md-12" formGroupName="CoolingTowerDetails">
              <div class="col-md-5"><label>Delta T : </label></div>
              <div class="col-md-4">
              <input type="text" class="form-control" formControlName="DeltaT">
            </div>
            <div class="col-md-3">
                <select class="form-control" formControlName="DeltaT_Unit" style="width: 96%;">
                    <option>u1</option>
                    <option>u2</option>
                    <option>u3</option>
                </select> 
          </div>
            </div>
  
            <div class="form-group col-md-12" formGroupName="CoolingTowerDetails">
                <div class="col-md-5"><label>Evaporation :</label></div>
                <div class="col-md-4">
                    <input type="text" class="form-control" formControlName="Evaporation">
                  </div>
              <div class="col-md-3">
                  <select class="form-control" formControlName="Evaporation_Unit" style="width: 96%;">
                      <option>u1</option>
                      <option>u2</option>
                      <option>u3</option>
                  </select> 
            </div>
              </div>
  
              <div class="form-group col-md-12" formGroupName="CoolingTowerDetails">
                  <div class="col-md-5"><label>Blow Down :<br>Info :</label></div>
                  <div class="col-md-4">
                  <input type="text" class="form-control" formControlName="BlowDown">
                </div>
                <div class="col-md-3">
                    <select class="form-control" formControlName="BlowDown_Unit" style="width: 96%;">
                        <option>u1</option>
                        <option>u2</option>
                        <option>u3</option>
                    </select> 
              </div>
                </div>

                <div class="form-group col-md-12" formGroupName="CoolingTowerDetails">
                    <div class="col-md-5"><label>COC :</label></div>
                    <div class="col-md-4">
                    <input type="text" class="form-control" formControlName="COC">
                  </div>
                  <div class="col-md-3">
                      <select class="form-control" formControlName="COC_Unit" style="width: 96%;">
                          <option>u1</option>
                          <option>u2</option>
                          <option>u3</option>
                      </select> 
                </div>
                  </div>

                  
          <div class="form-group col-md-12" formGroupName="CoolingTowerDetails">
              <div class="col-md-5"><label>Makeup Water :</label></div>
              <div class="col-md-4">
              <input type="text" class="form-control" formControlName="MakeupWater">
            </div>
            <div class="col-md-3">
                <select class="form-control" formControlName="MakeupWater_Unit" style="width: 96%;">
                    <option>u1</option>
                    <option>u2</option>
                    <option>u3</option>
                </select> 
          </div>
            </div>
              </div>
    </div><!--End of Card Body-->
    </div><!--End of card-->
    </div><!--End of First Col-->
    
    <div class="col-6">
    <div class="card">
        <div class="card-body">
    <div id="personal-details" [formGroup]="regForm">

        <div class="form-group col-md-12" formGroupName="CoolingTowerDetails">
            <div class="col-md-5"> <label>Operating hours per day : </label></div>
           <div class="col-md-4">
            <input type="text" class="form-control" formControlName="DailyOperatingHrs">
          </div>
          <div class="col-md-3">
              <select class="form-control" formControlName="DailyOperatingHrs_Unit" style="width: 96%;">
                  <option>u1</option>
                  <option>u2</option>
                  <option>u3</option>
              </select> 
        </div>
          </div>
  
          <div class="form-group col-md-12" formGroupName="CoolingTowerDetails">
              <div class="col-md-5"> <label>Side Stream Filter Flow :</label></div>
             <div class="col-md-4">
              <input type="text" class="form-control" formControlName="SideStreamFilterFlow" >
            </div>
            <div class="col-md-3">
                <select class="form-control" formControlName="SideStreamFilterFlow_Unit" style="width: 96%;">
                    <option>u1</option>
                    <option>u2</option>
                    <option>u3</option>
                </select> 
          </div>
            </div>

            <div class="form-group col-md-12" formGroupName="CoolingTowerDetails">
                <div class="col-md-5"> <label>Acid user for pH control :</label></div>
               <div class="col-md-4">
                <input type="text" class="form-control" formControlName="AcidUsed4pHcontrol" >
              </div>
              <div class="col-md-3">
                  <select class="form-control" formControlName="AcidUsed4pHcontrol_Unit" style="width: 96%;">
                      <option>u1</option>
                      <option>u2</option>
                      <option>u3</option>
                  </select> 
            </div>
              </div>

              <div class="form-group col-md-12" formGroupName="CoolingTowerDetails">
                  <div class="col-md-5"> <label>Acid % used :</label></div>
                 <div class="col-md-4">
                  <input type="text" class="form-control" formControlName="AcidPercentUsed" >
                </div>
                <div class="col-md-3">
                    <select class="form-control" formControlName="AcidPercentUsed_Unit" style="width: 96%;">
                        <option>u1</option>
                        <option>u2</option>
                        <option>u3</option>
                    </select> 
              </div>
                </div>

                <div class="form-group col-md-12" formGroupName="CoolingTowerDetails">
                    <div class="col-md-5"> <label>Cooling Tower Sump Volume :</label></div>
                   <div class="col-md-4">
                    <input type="text" class="form-control" formControlName="SumpVolume" >
                  </div>
                  <div class="col-md-3">
                      <select class="form-control" formControlName="SumpVolume_Unit" style="width: 96%;">
                          <option>u1</option>
                          <option>u2</option>
                          <option>u3</option>
                      </select> 
                </div>
                  </div>

                  <div class="form-group col-md-12" formGroupName="CoolingTowerDetails">
                      <div class="col-md-5"> <label>Cooling Tower Capacity TR :</label></div>
                     <div class="col-md-4">
                      <input type="text" class="form-control" formControlName="Capacity_TR" >
                    </div>
                    <div class="col-md-3">
                        <select class="form-control" formControlName="Capacity_TR_Unit" style="width: 96%;">
                            <option>u1</option>
                            <option>u2</option>
                            <option>u3</option>
                        </select> 
                  </div>
                    </div>

                <div class="form-group col-md-12" formGroupName="CoolingTowerDetails">
                    <div class="col-md-5"> <label>Any Other :</label></div>
                   <div class="col-md-4">
                    <input type="text" class="form-control" formControlName="CT_AnyOther1" >
                  </div>
                  <div class="col-md-3">
                      <select class="form-control" formControlName="CT_AnyOther1_Unit" style="width: 96%;">
                          <option>u1</option>
                          <option>u2</option>
                          <option>u3</option>
                      </select> 
                </div>
                  </div>
  
            <div class="form-group col-md-12" formGroupName="CoolingTowerDetails">
                <div class="col-md-5"> <label>Any Other : </label></div>
               <div class="col-md-4">
                <input type="text" class="form-control" formControlName="CT_AnyOther1">
              </div>
              <div class="col-md-3">
                  <select class="form-control" formControlName="CT_AnyOther1_Unit" style="width: 96%;">
                      <option>u1</option>
                      <option>u2</option>
                      <option>u3</option>
                  </select> 
            </div>
              </div>
  
              
    </div>
    </div>
    </div><!--End of Second Col-->
    </div><!--End Of Row-->

    <div class="col-md-12">
    <div class="row pagination-centered"  style="padding-left: 450px; margin-bottom: 3px;">            
<!-- <button type="button" class="btn btn-primary" style="margin-left: 2px">Submit</button>&nbsp;&nbsp; -->
<button type="button" class="btn btn-primary" matStepperPrevious>Back</button>&nbsp;&nbsp;
<button type="button" class="btn btn-primary" >Edit</button>&nbsp;&nbsp;
<button type="button" class="btn btn-primary" matStepperNext (click)="step6Submitted()" >Next</button>
<!-- <button mat-raised-button color="primary" type="button" matStepperNext (click)="step1Submitted()" >Next</button> -->
</div>
</div>
    

