
<app-header></app-header>
          <div class="container">

                  <div class="row">
                    <div class="col-md-12">
                  <!-- Table to show product list  -->
                  <h4 style="padding-top: 20px">Product List Modification</h4>          
                  <!-- Button to Open the price entry form Modal -->
                  <button type="button" class="btn btn-primary" id="addBtn" data-toggle="modal" data-target="#myModal"style="margin-top: 5px;" >
                   <i class="fa fa-calculator"></i>&nbsp;
                    Add
                  </button>

                  <!-- The Modal -->
               <div class="modal" id="myModal"  >
             <div class="modal-dialog">
             <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title" >Product Price Form</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body" >
            <form #productDetailForm="ngForm" (ngSubmit)="onSubmit(productDetailForm)">
  
                <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="_productDetailsService.selectedProductDetails._id"> 
   
                 <div class="row">
   
                   <div class="input-field col s12">
                       <label>MinTHRange:
                           <label class="red-text">*</label> 
                           </label>
                     <input type="text" name="MinTHRange" #name="ngModel" [(ngModel)]="_productDetailsService.selectedProductDetails.MinTHRange" placeholder="Enter Minimum TH Range" required>
                   </div>
   
                 </div>
   
                 <div class="row">
   
                   <div class="input-field col s12">
                       <label>MaxTHRange :</label>
                     <input type="text" name="MaxTHRange" #name="ngModel" [(ngModel)]="_productDetailsService.selectedProductDetails.MaxTHRange" placeholder="Enter Maximun TH Range" required>
                   </div>
   
                 </div>
   
                 <div class="row">
   
                   <div class="input-field col s12">
                       <label>MinpHRange :</label>
                     <input type="text" name="MinpHRange" #name="ngModel" [(ngModel)]="_productDetailsService.selectedProductDetails.MinpHRange" placeholder="Enter Minimum pH Range" required>
                   </div>
   
                 </div>
   
                 <div class="row">
   
                   <div class="input-field col s12">
                       <label>MaxpHRange :</label>
                     <input type="text" name="MaxpHRange" #name="ngModel" [(ngModel)]="_productDetailsService.selectedProductDetails.MaxpHRange" placeholder="Enter Maximum pH Range" required>
                   </div>
   
                 </div>
 
                 <div class="row">
   
                   <div class="input-field col s12">
                       <label>ProductName :</label>
                     <input type="text" name="ProductName" #name="ngModel" [(ngModel)]="_productDetailsService.selectedProductDetails.ProductName" placeholder="Enter Product Name" required>
                   </div>
   
                 </div>
 
                 <div class="row">
   
                   <div class="input-field col s12">
                       <label>Dosage :</label><br>
                     <input type="text" name="Dosage" #name="ngModel" [(ngModel)]="_productDetailsService.selectedProductDetails.Dosage" placeholder="Enter Dosage Value" required>
                   </div>
   
                 </div>
 
   
                 <div class="row">
   
                   <div class="input-field col s12">
   
                     <button class="btn btn-primary right resetbtn btnGroup" type="button" (click)="resetForm(productDetailForm)">Reset</button>&nbsp;&nbsp;&nbsp;
   
                     <button class="btn btn-success" type="submit" [disabled]="!productDetailForm.valid" (click)="pageRefresh();">Submit</button>&nbsp;&nbsp;&nbsp;
 
                     <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
   
                   </div>
   
                 </div>
   
               </form>
              </div>
            </div>
            </div>
            </div>
             </div><!--End of col-->
              </div><!--end of row-->
        
              <div class="row">
            <div class="col s12 col-md-12">
                <table class=" table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <!-- class="mytable" -->
                    <thead >
                      <tr>
                        <th colspan="2" style="border-bottom: none;">TH Range</th>
                        <th colspan="2" style="border-bottom: none;">pH Range</th>
                        <th rowspan="2">Product Name</th>
                        <th rowspan="2">Dosage</th>
                        <th rowspan="2" style="width: 279px;">Actions</th>
                      </tr>
                      <tr>
                        <th>Min</th>
                        <th>Max</th>
                        <th>Min</th>
                        <th>Max</th>
                        </tr>
                    </thead>
                    <tbody>
                     <tr *ngFor="let products of _productDetailsService. productDetails">
  
                      <td>{{products.MinTHRange}}</td>
  
                     <td>{{products.MaxTHRange}}</td>
  
                      <td>{{products.MinpHRange}}</td>

                      <td>{{products.MaxpHRange}}</td>

                      <td>{{products.ProductName}}</td>

                      <td>{{products.Dosage}}</td>

                      <td>
                       <!-- <a (click)="onEdit(products)"><i class="fa fa-pencil-square-o" aria-hidden="true" style="margin-right:25px"></i></a> -->
                       <button type="button" class="btn btn-primary btn-sm mybtn"  data-toggle="modal" data-target="#myModal" (click)="onEdit(products)">
                        <i class="fa fa-edit"></i>&nbsp; Edit
                        </button>&nbsp;&nbsp;&nbsp;&nbsp;
                       <!-- <a (click)="onDelete(products._id,productDetailForm)"> <i class="fa fa-trash" aria-hidden="true"></i></a> -->
                       <button type="button" class="btn btn-danger btn-sm mybtn" (click)="onDelete(products._id,productDetailForm)"><i class="fa fa-trash-o"></i>&nbsp;Delete</button>
                      </td>                     
  
                    </tr> 
                  </tbody>
                  </table>
            </div>
          </div>
  
        </div><!--End of Container--><br><br>
        <button onclick="history.go(-1);" class="btn btn-outline-success " data-toggle="modal" style="margin-left: 44%"><i class="fa fa-dashboard"></i>&nbsp;Back to Dashboard</button>
          

<!-- ADD FOOTER -->
<app-footer></app-footer>

<!-- <router-outlet></router-outlet> -->