<div class="row">
        <div class="col-md-12">
      <h4 class="text-center"><b>Make Up Water Details</b></h4>
      </div>
      </div>

<div class="row" style="margin: auto;
width: 95%;
border: 3px solid #73AD21;
padding: 10px;">
 <div class="col-12">
  <div class="card">
   <div class="card-body" >
    <div id="make-up-water-details" [formGroup]="regForm">
      <div class="form-group col-md-12 example-form" formGroupName="MakeUpWaterDetails">
          <div class="col-md-2"><label>Source Of Water : </label></div>
          <div class="col-md-8 containers" style="border: 2px solid orangered;height:auto;padding: 5px;">
          <!-- <div class="containers" style="border: 2px solid orangered;height:auto;padding: 5px;"></div> -->
          <!-- <input type="text" class="form-control" formControlName="SourceOfWater"> -->
        </div>
        <div class="col-md-2">
            <select class="form-control" formControlName="sourceOfWaterUnit" style="width: 96%;">
                    <option *ngFor="let unit of Units">{{unit}}</option>
            </select>
      </div>
      </div>
      <div class="form-group col-md-12" formGroupName="MakeUpWaterDetails">
        <div class="col-md-2"><label>pH : </label></div>
        <div class="col-md-8 containers" style="border: 2px solid orangered;height:auto;padding: 5px;">
        <!-- <input type="text" class="form-control" formControlName="pH"> -->
      </div>
      <div class="col-md-2">
            <select class="form-control" formControlName="sourceOfWaterUnit" style="width: 96%;">
                    <option *ngFor="let unit of Units">{{unit}}</option>
            </select>
    </div>
      </div>
  
      <div class="form-group col-md-12" formGroupName="MakeUpWaterDetails">
          <div class="col-md-2"><label>Turbidity :</label></div>
          <div class="col-md-8 containers" style="border: 2px solid orangered;height:auto;padding: 5px;">
          <input type="text"  class="form-control"  formControlName="Turbidity">
        </div>
        <div class="col-md-2">
                <select class="form-control" formControlName="sourceOfWaterUnit" style="width: 96%;">
                        <option *ngFor="let unit of Units">{{unit}}</option>
                </select>
      </div>
        </div>
  
        <div class="form-group col-md-12" formGroupName="MakeUpWaterDetails">
            <div class="col-md-2"><label>TDS :</label></div>
            <div class="col-md-8 containers" style="border: 2px solid orangered;height:auto;padding: 5px;">
            <input type="text" class="form-control" formControlName="TDS">
          </div>
          <div class="col-md-2">
                <select class="form-control" formControlName="sourceOfWaterUnit" style="width: 96%;">
                        <option *ngFor="let unit of Units">{{unit}}</option>
                </select>
        </div>
          </div>
  
          <div class="form-group col-md-12" formGroupName="MakeUpWaterDetails">
              <div class="col-md-2"><label>Conductivity : </label></div>
              <div class="col-md-8 containers" style="border: 2px solid orangered;height:auto;padding: 5px;">
              <input type="text" class="form-control" formControlName="Conductivity">
            </div>
            <div class="col-md-2">
                    <select class="form-control" formControlName="sourceOfWaterUnit" style="width: 96%;">
                            <option *ngFor="let unit of Units">{{unit}}</option>
                    </select>
          </div>
            </div>
  
            <div class="form-group col-md-12" formGroupName="MakeUpWaterDetails">
                <div class="col-md-2"><label>Total Hardness :</label></div>
                <div class="col-md-8 containers" style="border: 2px solid orangered;height:auto;padding: 5px;">
                    <input type="text" class="form-control" formControlName="TotalHardness">
                  </div>
              <div class="col-md-2">
                    <select class="form-control" formControlName="sourceOfWaterUnit" style="width: 96%;">
                            <option *ngFor="let unit of Units">{{unit}}</option>
                    </select>
              </div>
            </div>
  
              <div class="form-group col-md-12" formGroupName="MakeUpWaterDetails">
                  <div class="col-md-2"><label>Calcium Hardness Info :</label></div>
                  <div class="col-md-8 containers" style="border: 2px solid orangered;height:auto;padding: 5px;">
                  <input type="text" class="form-control" formControlName="CalciumHardness">
                </div>
                <div class="col-md-2">
                        <select class="form-control" formControlName="sourceOfWaterUnit" style="width: 96%;">
                                <option *ngFor="let unit of Units">{{unit}}</option>
                        </select>
              </div>
                </div>

                
        <div class="form-group col-md-12" formGroupName="MakeUpWaterDetails">
            <div class="col-md-2"><label>Total Alkalinity :</label></div>
            <div class="col-md-8 containers" style="border: 2px solid orangered;height:auto;padding: 5px;">
            <input type="text" class="form-control" formControlName="TotalAlkalinity">
          </div>
          <div class="col-md-2">
                <select class="form-control" formControlName="sourceOfWaterUnit" style="width: 96%;">
                        <option *ngFor="let unit of Units">{{unit}}</option>
                </select>
        </div>
          </div>

          <div class="form-group col-md-12" formGroupName="MakeUpWaterDetails">
              <div class="col-md-2"><label>Chloride :</label></div>
              <div class="col-md-8">
              <input type="text" class="form-control" formControlName="Chloride">
            </div>
            <div class="col-md-2">
                    <select class="form-control" formControlName="sourceOfWaterUnit" style="width: 96%;">
                            <option *ngFor="let unit of Units">{{unit}}</option>
                    </select>
          </div>
            </div>

        <div class="form-group col-md-12" formGroupName="MakeUpWaterDetails">
            <div class="col-md-2"> <label> Sulphates : </label></div>
           <div class="col-md-8">
            <input type="text" class="form-control" formControlName="Sulphates">
          </div>
          <div class="col-md-2">
                <select class="form-control" formControlName="sourceOfWaterUnit" style="width: 96%;">
                        <option *ngFor="let unit of Units">{{unit}}</option>
                </select>
        </div>
          </div>
  
          <div class="form-group col-md-12" formGroupName="MakeUpWaterDetails">
              <div class="col-md-2"> <label>Silica :</label></div>
             <div class="col-md-8">
              <input type="text" class="form-control" formControlName="Silica" >
            </div>
            <div class="col-md-2">
                    <select class="form-control" formControlName="sourceOfWaterUnit" style="width: 96%;">
                            <option *ngFor="let unit of Units">{{unit}}</option>
                    </select>
          </div>
            </div>
  
            <div class="form-group col-md-12" formGroupName="MakeUpWaterDetails">
                <div class="col-md-2"> <label>Any Other : </label></div>
               <div class="col-md-8">
                <input type="text" class="form-control" formControlName="AnyOther1">
              </div>
              <div class="col-md-2">
                    <select class="form-control" formControlName="sourceOfWaterUnit" style="width: 96%;">
                            <option *ngFor="let unit of Units">{{unit}}</option>
                    </select>
            </div>
              </div>
  
              <div class="form-group col-md-12" formGroupName="MakeUpWaterDetails">
                  <div class="col-md-2"> <label>Any Other : </label></div>
                 <div class="col-md-8">
                  <input type="text" class="form-control" formControlName="AnyOther2">
                </div>
                <div class="col-md-2">
                    <!-- <select class="form-control" formControlName="sourceOfWaterUnit" style="width: 96%;">
                        <option>u1</option>
                        <option>u2</option>
                        <option>u3</option>
                    </select>  -->
                    <select class="form-control" formControlName="sourceOfWaterUnit" style="width: 96%;">
                            <option *ngFor="let unit of Units">{{unit}}</option>
                    </select>
              </div>
                </div>
              </div><!--End of Form Div-->
    </div><!--End of Card Body-->
    </div><!--End of card-->
    </div><!--End of First Col-->

    <!-- <h5 class="text-center"> You Selected <span class='local'></span> Towers</h5>
             <div class="containers" style="border: 2px solid orangered;height:40px;width:315px;"></div> -->
             

    <div class="col-md-12">
                <div class="row pagination-centered"  style="padding-left: 450px; margin-bottom: 50px;">
                <button type="button" class="btn btn-primary" matStepperPrevious>Back</button>&nbsp;&nbsp;
                <button type="button" class="btn btn-primary" >Edit</button>&nbsp;&nbsp;
                <button type="button" class="btn btn-primary" matStepperNext (click)="step4Submitted()" >Next</button>
                <!-- <button mat-raised-button color="primary" type="button" matStepperNext (click)="step1Submitted()" >Next</button> --> 
               </div>
               </div>
    </div><!--End Of Row--> 
<!-- </div> -->

     
  
    

