
<head>
  <title>Software Admin Dashboard</title>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
 
 
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    } 
  </style>
</head>


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand"><b style="font-size: 25px; color: cornsilk;">Software Admin Dashboard </b></a>
      <button (click)="onLogout()" type="button" class="btn btn-primary button btn-sm btn-dark" style="float: right;
      border-radius: 50px 50px 50px 50px;
      padding: 5px 13px;
      margin-right: -459px;
      margin-top: 11px "><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;&nbsp;Logout</button>
    </div>
    
  </div>
</nav>
