/* .resetbtn{margin-top:20px;width:80%;margin-left:12px;}
.mybtn{margin-top: 10px; }
h4{text-align: center;margin-left: 40%;} */
.card-horizontal {
    display: flex;
    flex: 1 1 auto;
    
}
/* #registration{margin-bottom: 50px;} */


    
    
    