<div class="row">
    <div class="col-md-12">
  <h4 class="text-center"><b>Tower Details</b></h4>
  </div>
  <input type="text" id="hidden_number" hidden=true/>
  </div>

<div class="row" style="margin: auto;
width: 95%;
border: 3px solid #73AD21;
padding: 10px;">
  <div class="col-8" style="margin: auto;" >
  <div class="card">
      <div class="card-body">
  <div id="tower-details" [formGroup]="regForm">
    <div class="form-group col-md-12 example-form" formGroupName="TowerDetails">
        <div class="col-md-6"><label>Number of Tower with This Customer : </label></div>
      <div class="col-md-6">
        <!-- <select class="form-control" formControlName="NumOfTower" style="width: 96%;" >
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
        </select>  -->
        <!-- <select class="form-control" formControlName="NumOfTower" style="width: 96%;">
            <option *ngFor="let tower of Towers">{{tower}}
            </option>
            </select> -->
            <select class="slct" id='mySelectValue' formControlName="NumOfTower" style="width: 96%;" (change)="changed($event)">
             <option value="0"> 0 </option>
             <option value="1"> 1 </option>
             <option value="2"> 2 </option>
             <option value="3"> 3 </option>
             <option value="4"> 4 </option>
             <option value="5"> 5 </option>
             <option value="6"> 6 </option>
             <option value="7"> 7 </option>
             <option value="8"> 8 </option>
             <option value="9"> 9 </option>
             <option value="10"> 10 </option>
              </select>
              <h5 class="text-center"> You Selected <span id='local'></span> Towers</h5>
             <div class="containers" style="border: 2px solid orangered;height:40px;width:315px;"></div>
             
  </div>
      </div>

          
  </div><!--End of Card Body-->
  </div><!--End of card-->
  </div><!--End of First Col-->
  <button type="button" class="btn btn-primary"  matStepperPrevious style="margin-left:166px">Back</button> &nbsp;&nbsp; &nbsp;
  <button type="button" class="btn btn-primary" matStepperNext (click)="step2Submitted()">Next</button>
  </div><!--End of Row-->
  
 
      