
<div class="row">
  <div class="col-md-12">
<h4 class="text-center"><b>Upload any cooling system photos</b></h4>
</div>
</div>

<div class="row" style="margin: auto;
width: 95%;
border: 3px solid #73AD21;
padding: 10px;">
<div class="col-12">
  <div class="card" >
      <div class="card-body">
  <div id="cooling-system-details" [formGroup]="regForm">
    <div class="form-group col-md-12 example-form" formGroupName="CoolingSystemPhotoDetails">
      <div class="col-md-4"><label>Corrosion photo files </label></div>
      <!-- <col-md-3></col-md-3> -->
      <div class="col-md-4">
        <label>Output Format : Jpg, png</label>
      </div>
      <div class="col-md-4">
        <input type="file" name="avatar" accept="image/png, image/jpeg,image/x-png">
      </div>
  </div>

  <div class="form-group col-md-12 example-form" formGroupName="CoolingSystemPhotoDetails">
    <div class="col-md-4"><label>Scale fouling photo files </label></div>
    <!-- <col-md-3></col-md-3> -->
    <div class="col-md-4">
      <label>Output Format : Jpg, png</label>
    </div>
    <div class="col-md-4">
      <input type="file" name="avatar" accept="image/png, image/jpeg,image/x-png">
    </div>
</div>

<div class="form-group col-md-12 example-form" formGroupName="CoolingSystemPhotoDetails">
  <div class="col-md-4"><label>Bio-growth Alage photo file </label></div>
  <!-- <col-md-3></col-md-3> -->
  <div class="col-md-4">
    <label>Output Format : Jpg, png</label>
  </div>
  <div class="col-md-4">
    <input type="file" name="avatar" accept="image/png, image/jpeg,image/x-png">
  </div>
</div>

<div class="form-group col-md-12 example-form" formGroupName="CoolingSystemPhotoDetails">
  <div class="col-md-4"><label>Any othe photo files </label></div>
  <!-- <col-md-3></col-md-3> -->
  <div class="col-md-4">
    <label>Output Format : Jpg, png</label>
  </div>
  <div class="col-md-4">
    <input type="file" name="avatar" accept="image/png, image/jpeg,image/x-png">
  </div>
</div>

<div class="form-group col-md-12 example-form" formGroupName="CoolingSystemPhotoDetails">
  <div class="col-md-4"><label>Any othe photo files </label></div>
  <!-- <col-md-3></col-md-3> -->
  <div class="col-md-4">
    <label>Output Format : Jpg, png</label>
  </div>
  <div class="col-md-4">
    <input type="file" name="avatar" accept="image/png, image/jpeg,image/x-png">
  </div>
</div>

  </div><!--End of the Form Group-->
  </div><!--End of the Card Body-->
  </div><!--End of the Card-->
  </div><!--End of the column-->
  
  <div class="col-md-12">
      <div class="row pagination-centered"  style="padding-left: 450px; margin-bottom: 3px;margin-top: 10px;">
        <!-- <button type="button" class="btn btn-primary" style="margin-left: 2px">Submit</button>&nbsp;&nbsp; -->
        <button type="button" class="btn btn-primary" matStepperPrevious>Back</button>&nbsp;&nbsp;
        <button type="button" class="btn btn-primary" >Edit</button>&nbsp;&nbsp;
        <button type="button" class="btn btn-primary" matStepperNext (click)="step9Submitted()" >Next</button>
    <!-- <button mat-raised-button color="primary" type="button" matStepperNext (click)="step1Submitted()" >Next</button> -->
    </div>
    </div>

</div> <!--End of the Row -->

