<p>
  biocide-selection works!
</p>
<app-header>
  </app-header>
  <div class="container">
  
      <div class="row">
          <div class="col-md-12">
              <!-- Table to show product list  -->
              <h4 style="padding-top: 20px">Biocide selection Product List</h4>
              <!-- Button to Open the price entry form Modal -->
              <button type="button" class="btn btn-primary" id="addBtn" data-toggle="modal" data-target="#myModal" style="margin-top: 5px;">
                  <i class="fa fa-calculator"></i>&nbsp; Add
              </button>
  
              <!-- The Modal -->
              <div class="modal" id="myModal">
                  <div class="modal-dialog">
                      <div class="modal-content">
  
                          <!-- Modal Header -->
                          <div class="modal-header">
                              <h4 class="modal-title">Add Biocide Product Details </h4>
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                          </div>
  
                          <!-- Modal body -->
                          <div class="modal-body">
                              <form #BiocideProductDetailForm="ngForm" (ngSubmit)="onSubmit(BiocideProductDetailForm)">
  
                                  <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="_biocideSelectionProductService.selectedBiocideProduct._id">
  
                                  <div class="row">
  
                                      <div class="input-field col s6">
                                          <label>Maint Score (MS) :</label>
                                          <input type="text" name="MaintScore" #_id="ngModel" [(ngModel)]="_biocideSelectionProductService.selectedBiocideProduct.MaintScore">
                                      </div>
  
                                      <div class="input-field col s6">
                                          <label>Half Life :</label>
                                          <input type="text" name="HalfLife" #_id="ngModel" [(ngModel)]="_biocideSelectionProductService.selectedBiocideProduct.HalfLife">
                                      </div>
  
                                  </div>

                                  <div class="row">
  
                                      <div class="input-field col s6">
                                          <label>Source of Water :</label>
                                          <input type="text" name="SourceOfWater" #_id="ngModel" [(ngModel)]="_biocideSelectionProductService.selectedBiocideProduct.SourceOfWater">
                                      </div>
  
                                      <div class="input-field col s6">
                                          <label>Product Name :</label>
                                          <input type="text" name="ProductName" #_id="ngModel" [(ngModel)]="_biocideSelectionProductService.selectedBiocideProduct.ProductName">
                                      </div>
  
                                  </div>

                                  <div class="row">
  
                                      <div class="input-field col s6">
                                          <label>Dosage :</label>
                                          <input type="text" name="Dosage" #_id="ngModel" [(ngModel)]="_biocideSelectionProductService.selectedBiocideProduct.Dosage">
                                      </div>
  
                                      <div class="input-field col s6">
                                          <label>Frequency :</label>
                                          <input type="text" name="Frequency" #_id="ngModel" [(ngModel)]="_biocideSelectionProductService.selectedBiocideProduct.Frequency">
                                      </div>
  
                                  </div>
  
                                  <div class="row">
  
                                      <div class="input-field col s12">
  
                                          <button class="btn btn-primary right resetbtn btnGroup" type="button" (click)="resetForm(BiocideProductDetailForm)">Reset</button>&nbsp;&nbsp;&nbsp;
  
                                          <button class="btn btn-success" type="submit" [disabled]="!BiocideProductDetailForm.valid" (click)="pageRefresh();">Submit</button>&nbsp;&nbsp;&nbsp;
  
                                          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
  
                                      </div>
  
                                  </div>
  
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!--End of col-->
      </div>
      <!--end of row-->
  
      <div class="row">
          <div class="col s12 col-md-12">
              <table class=" table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <!-- class="mytable" -->
                  <thead>
                      <tr>
                          <th>Maint Score</th>
                          <th>HalfLife</th>
                          <th>Product Name</th>
                          <th>Dosage</th>
                          <th>Action</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let products of _biocideSelectionProductService.biocideProduct">
  
                          <td>{{products.MaintScore}}</td>
  
                          <td>{{products.HalfLife}}</td>
  
                          <td>{{products.ProductName}}</td>
  
                          <td>{{products.Dosage}}</td>
  
                          <td>
  
                              <button type="button" class="btn btn-primary btn-sm mybtn" data-toggle="modal" data-target="#myModal" (click)="onEdit(products)">
                                  <i class="fa fa-edit"></i>&nbsp; Edit
                              </button>&nbsp;&nbsp;&nbsp;&nbsp;
  
                              <button type="button" class="btn btn-danger btn-sm mybtn" (click)="onDelete(products._id,BiocideProductDetailForm)"><i class="fa fa-trash-o"></i>&nbsp;Delete</button>
                          </td>
  
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  
  </div>
  <!--End of Container-->
  <br>
  <br>
  <button onclick="history.go(-1);" class="btn btn-outline-success " data-toggle="modal" style="margin-left: 44%"><i class="fa fa-dashboard"></i>&nbsp;Back to Dashboard</button>
  
  <!-- ADD FOOTER -->
  <app-footer></app-footer>
