
<div class="container">
    <form style="height: 500px;width:500px;background: red;">
        <div class="row">
           
               <div class="input-field col s5"> 
                   <label>Number of Tower with This Customer :</label>
               </div>
            
               <div class="input-field col s7">
                <select class="slct" >
                    <option value="0"> 0 </option>
                    <option value="1"> 1 </option>
                    <option value="2"> 2 </option>
                    <option value="3"> 3 </option>
                    <option value="4"> 4 </option>
                    <option value="5"> 5 </option>
                    <option value="6"> 6 </option>
                    <option value="7"> 7 </option>
                    <option value="8"> 8 </option>
                    <option value="9"> 9 </option>
                    <option value="10"> 10 </option>
                     </select>
               </div>
            
               </div>
           
           <div class="row">
           
               <div class="input-field col s5"> 
                  <label style="line-height:30px">Name of Tower:</label>
               </div>
           
               <div class="input-field col s7">
                <input type="text">
               </div>
           
          </div>

          <div class="input-field col s12 ">
           
              <button class="btn btn-success mybtn" type="submit">Submit</button>&nbsp;&nbsp;&nbsp;
              <button class="btn btn-warning mybtn" type="button" >Cancel</button>&nbsp;&nbsp;&nbsp;
              <button class="btn btn-info mybtn" >Edit</button>&nbsp;&nbsp;&nbsp;
              <button class="btn btn-secondary mybtn" (click)="Onclick();">Next</button>&nbsp;&nbsp;&nbsp;
              <button type="button mybtn" class="btn btn-danger" data-dismiss="modal" style="margin-top: 10px;">Close</button>
            </div>
              </form>
  
    </div><!--End of Container-->